In [1]:
%autosave 20

import pandas as pd
import numpy as np

# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Autosaving every 20 seconds

# Columns needed

1. RootDatabase -> Identity - fixed
        - State obj
        - County obj
        - Population int64
        - Pop Density float64
        - fipsValue obj
        - region object
2. TimeDatabase -> Identity - flexible
        - Year obj
        - Month obj
        - summer int32
        - holiday int32

3. Independent
        - Y
            - SnapApplication int32 
4. Dependent
        - X1 - Warn



## 1. RootDatabase -> Identity - fixed
        - State obj
        - County obj
        - Population int64
        - Pop Density float32
        - fipsValue int32
        - region object

In [2]:
# import the StrinIO function
# from io module
from io import StringIO
import pandas as pd
 
# wrap the string data in StringIO function
StringData = StringIO("""
State,n1,fipsCountyCode,County,n2
CA,06,001,Alameda County,H1
CA,06,003,Alpine County,H1
CA,06,005,Amador County,H1
CA,06,007,Butte County,H1
CA,06,009,Calaveras County,H1
CA,06,011,Colusa County,H1
CA,06,013,Contra Costa County,H1
CA,06,015,Del Norte County,H1
CA,06,017,El Dorado County,H1
CA,06,019,Fresno County,H1
CA,06,021,Glenn County,H1
CA,06,023,Humboldt County,H1
CA,06,025,Imperial County,H1
CA,06,027,Inyo County,H1
CA,06,029,Kern County,H1
CA,06,031,Kings County,H1
CA,06,033,Lake County,H1
CA,06,035,Lassen County,H1
CA,06,037,Los Angeles County,H1
CA,06,039,Madera County,H1
CA,06,041,Marin County,H1
CA,06,043,Mariposa County,H1
CA,06,045,Mendocino County,H1
CA,06,047,Merced County,H1
CA,06,049,Modoc County,H1
CA,06,051,Mono County,H1
CA,06,053,Monterey County,H1
CA,06,055,Napa County,H1
CA,06,057,Nevada County,H1
CA,06,059,Orange County,H1
CA,06,061,Placer County,H1
CA,06,063,Plumas County,H1
CA,06,065,Riverside County,H1
CA,06,067,Sacramento County,H1
CA,06,069,San Benito County,H1
CA,06,071,San Bernardino County,H1
CA,06,073,San Diego County,H1
CA,06,075,San Francisco County,H6
CA,06,077,San Joaquin County,H1
CA,06,079,San Luis Obispo County,H1
CA,06,081,San Mateo County,H1
CA,06,083,Santa Barbara County,H1
CA,06,085,Santa Clara County,H1
CA,06,087,Santa Cruz County,H1
CA,06,089,Shasta County,H1
CA,06,091,Sierra County,H1
CA,06,093,Siskiyou County,H1
CA,06,095,Solano County,H1
CA,06,097,Sonoma County,H1
CA,06,099,Stanislaus County,H1
CA,06,101,Sutter County,H1
CA,06,103,Tehama County,H1
CA,06,105,Trinity County,H1
CA,06,107,Tulare County,H1
CA,06,109,Tuolumne County,H1
CA,06,111,Ventura County,H1
CA,06,113,Yolo County,H1
CA,06,115,Yuba County,H1
TX,48,001,Anderson County,H1
TX,48,003,Andrews County,H1
TX,48,005,Angelina County,H1
TX,48,007,Aransas County,H1
TX,48,009,Archer County,H1
TX,48,011,Armstrong County,H1
TX,48,013,Atascosa County,H1
TX,48,015,Austin County,H1
TX,48,017,Bailey County,H1
TX,48,019,Bandera County,H1
TX,48,021,Bastrop County,H1
TX,48,023,Baylor County,H1
TX,48,025,Bee County,H1
TX,48,027,Bell County,H1
TX,48,029,Bexar County,H1
TX,48,031,Blanco County,H1
TX,48,033,Borden County,H1
TX,48,035,Bosque County,H1
TX,48,037,Bowie County,H1
TX,48,039,Brazoria County,H1
TX,48,041,Brazos County,H1
TX,48,043,Brewster County,H1
TX,48,045,Briscoe County,H1
TX,48,047,Brooks County,H1
TX,48,049,Brown County,H1
TX,48,051,Burleson County,H1
TX,48,053,Burnet County,H1
TX,48,055,Caldwell County,H1
TX,48,057,Calhoun County,H1
TX,48,059,Callahan County,H1
TX,48,061,Cameron County,H1
TX,48,063,Camp County,H1
TX,48,065,Carson County,H1
TX,48,067,Cass County,H1
TX,48,069,Castro County,H1
TX,48,071,Chambers County,H1
TX,48,073,Cherokee County,H1
TX,48,075,Childress County,H1
TX,48,077,Clay County,H1
TX,48,079,Cochran County,H1
TX,48,081,Coke County,H1
TX,48,083,Coleman County,H1
TX,48,085,Collin County,H1
TX,48,087,Collingsworth County,H1
TX,48,089,Colorado County,H1
TX,48,091,Comal County,H1
TX,48,093,Comanche County,H1
TX,48,095,Concho County,H1
TX,48,097,Cooke County,H1
TX,48,099,Coryell County,H1
TX,48,101,Cottle County,H1
TX,48,103,Crane County,H1
TX,48,105,Crockett County,H1
TX,48,107,Crosby County,H1
TX,48,109,Culberson County,H1
TX,48,111,Dallam County,H1
TX,48,113,Dallas County,H1
TX,48,115,Dawson County,H1
TX,48,117,Deaf Smith County,H1
TX,48,119,Delta County,H1
TX,48,121,Denton County,H1
TX,48,123,DeWitt County,H1
TX,48,125,Dickens County,H1
TX,48,127,Dimmit County,H1
TX,48,129,Donley County,H1
TX,48,131,Duval County,H1
TX,48,133,Eastland County,H1
TX,48,135,Ector County,H1
TX,48,137,Edwards County,H1
TX,48,139,Ellis County,H1
TX,48,141,El Paso County,H1
TX,48,143,Erath County,H1
TX,48,145,Falls County,H1
TX,48,147,Fannin County,H1
TX,48,149,Fayette County,H1
TX,48,151,Fisher County,H1
TX,48,153,Floyd County,H1
TX,48,155,Foard County,H1
TX,48,157,Fort Bend County,H1
TX,48,159,Franklin County,H1
TX,48,161,Freestone County,H1
TX,48,163,Frio County,H1
TX,48,165,Gaines County,H1
TX,48,167,Galveston County,H1
TX,48,169,Garza County,H1
TX,48,171,Gillespie County,H1
TX,48,173,Glasscock County,H1
TX,48,175,Goliad County,H1
TX,48,177,Gonzales County,H1
TX,48,179,Gray County,H1
TX,48,181,Grayson County,H1
TX,48,183,Gregg County,H1
TX,48,185,Grimes County,H1
TX,48,187,Guadalupe County,H1
TX,48,189,Hale County,H1
TX,48,191,Hall County,H1
TX,48,193,Hamilton County,H1
TX,48,195,Hansford County,H1
TX,48,197,Hardeman County,H1
TX,48,199,Hardin County,H1
TX,48,201,Harris County,H1
TX,48,203,Harrison County,H1
TX,48,205,Hartley County,H1
TX,48,207,Haskell County,H1
TX,48,209,Hays County,H1
TX,48,211,Hemphill County,H1
TX,48,213,Henderson County,H1
TX,48,215,Hidalgo County,H1
TX,48,217,Hill County,H1
TX,48,219,Hockley County,H1
TX,48,221,Hood County,H1
TX,48,223,Hopkins County,H1
TX,48,225,Houston County,H1
TX,48,227,Howard County,H1
TX,48,229,Hudspeth County,H1
TX,48,231,Hunt County,H1
TX,48,233,Hutchinson County,H1
TX,48,235,Irion County,H1
TX,48,237,Jack County,H1
TX,48,239,Jackson County,H1
TX,48,241,Jasper County,H1
TX,48,243,Jeff Davis County,H1
TX,48,245,Jefferson County,H1
TX,48,247,Jim Hogg County,H1
TX,48,249,Jim Wells County,H1
TX,48,251,Johnson County,H1
TX,48,253,Jones County,H1
TX,48,255,Karnes County,H1
TX,48,257,Kaufman County,H1
TX,48,259,Kendall County,H1
TX,48,261,Kenedy County,H1
TX,48,263,Kent County,H1
TX,48,265,Kerr County,H1
TX,48,267,Kimble County,H1
TX,48,269,King County,H1
TX,48,271,Kinney County,H1
TX,48,273,Kleberg County,H1
TX,48,275,Knox County,H1
TX,48,277,Lamar County,H1
TX,48,279,Lamb County,H1
TX,48,281,Lampasas County,H1
TX,48,283,La Salle County,H1
TX,48,285,Lavaca County,H1
TX,48,287,Lee County,H1
TX,48,289,Leon County,H1
TX,48,291,Liberty County,H1
TX,48,293,Limestone County,H1
TX,48,295,Lipscomb County,H1
TX,48,297,Live Oak County,H1
TX,48,299,Llano County,H1
TX,48,301,Loving County,H1
TX,48,303,Lubbock County,H1
TX,48,305,Lynn County,H1
TX,48,307,McCulloch County,H1
TX,48,309,McLennan County,H1
TX,48,311,McMullen County,H1
TX,48,313,Madison County,H1
TX,48,315,Marion County,H1
TX,48,317,Martin County,H1
TX,48,319,Mason County,H1
TX,48,321,Matagorda County,H1
TX,48,323,Maverick County,H1
TX,48,325,Medina County,H1
TX,48,327,Menard County,H1
TX,48,329,Midland County,H1
TX,48,331,Milam County,H1
TX,48,333,Mills County,H1
TX,48,335,Mitchell County,H1
TX,48,337,Montague County,H1
TX,48,339,Montgomery County,H1
TX,48,341,Moore County,H1
TX,48,343,Morris County,H1
TX,48,345,Motley County,H1
TX,48,347,Nacogdoches County,H1
TX,48,349,Navarro County,H1
TX,48,351,Newton County,H1
TX,48,353,Nolan County,H1
TX,48,355,Nueces County,H1
TX,48,357,Ochiltree County,H1
TX,48,359,Oldham County,H1
TX,48,361,Orange County,H1
TX,48,363,Palo Pinto County,H1
TX,48,365,Panola County,H1
TX,48,367,Parker County,H1
TX,48,369,Parmer County,H1
TX,48,371,Pecos County,H1
TX,48,373,Polk County,H1
TX,48,375,Potter County,H1
TX,48,377,Presidio County,H1
TX,48,379,Rains County,H1
TX,48,381,Randall County,H1
TX,48,383,Reagan County,H1
TX,48,385,Real County,H1
TX,48,387,Red River County,H1
TX,48,389,Reeves County,H1
TX,48,391,Refugio County,H1
TX,48,393,Roberts County,H1
TX,48,395,Robertson County,H1
TX,48,397,Rockwall County,H1
TX,48,399,Runnels County,H1
TX,48,401,Rusk County,H1
TX,48,403,Sabine County,H1
TX,48,405,San Augustine County,H1
TX,48,407,San Jacinto County,H1
TX,48,409,San Patricio County,H1
TX,48,411,San Saba County,H1
TX,48,413,Schleicher County,H1
TX,48,415,Scurry County,H1
TX,48,417,Shackelford County,H1
TX,48,419,Shelby County,H1
TX,48,421,Sherman County,H1
TX,48,423,Smith County,H1
TX,48,425,Somervell County,H1
TX,48,427,Starr County,H1
TX,48,429,Stephens County,H1
TX,48,431,Sterling County,H1
TX,48,433,Stonewall County,H1
TX,48,435,Sutton County,H1
TX,48,437,Swisher County,H1
TX,48,439,Tarrant County,H1
TX,48,441,Taylor County,H1
TX,48,443,Terrell County,H1
TX,48,445,Terry County,H1
TX,48,447,Throckmorton County,H1
TX,48,449,Titus County,H1
TX,48,451,Tom Green County,H1
TX,48,453,Travis County,H1
TX,48,455,Trinity County,H1
TX,48,457,Tyler County,H1
TX,48,459,Upshur County,H1
TX,48,461,Upton County,H1
TX,48,463,Uvalde County,H1
TX,48,465,Val Verde County,H1
TX,48,467,Van Zandt County,H1
TX,48,469,Victoria County,H1
TX,48,471,Walker County,H1
TX,48,473,Waller County,H1
TX,48,475,Ward County,H1
TX,48,477,Washington County,H1
TX,48,479,Webb County,H1
TX,48,481,Wharton County,H1
TX,48,483,Wheeler County,H1
TX,48,485,Wichita County,H1
TX,48,487,Wilbarger County,H1
TX,48,489,Willacy County,H1
TX,48,491,Williamson County,H1
TX,48,493,Wilson County,H1
TX,48,495,Winkler County,H1
TX,48,497,Wise County,H1
TX,48,499,Wood County,H1
TX,48,501,Yoakum County,H1
TX,48,503,Young County,H1
TX,48,505,Zapata County,H1
TX,48,507,Zavala County,H1
    """)
 
# let's read the data using the Pandas
# read_csv() function
df = pd.read_csv(StringData, sep =",", dtype='object')
 
df.head()

  State  n1 fipsCountyCode            County  n2
0    CA  06            001    Alameda County  H1
1    CA  06            003     Alpine County  H1
2    CA  06            005     Amador County  H1
3    CA  06            007      Butte County  H1
4    CA  06            009  Calaveras County  H1

In [3]:
df.shape

(312, 5)

In [4]:
# create fipsvalue and drop n1 + n2

df['fipsValue'] = df.n1 + df.fipsCountyCode
df.drop(columns=['n1', 'n2', 'fipsCountyCode'], inplace=True)

# rename state CA and TX
df['State'] = df['State'].apply(lambda x: 'California' if x == 'CA' else 'Texas')

In [5]:
df.head()

        State            County fipsValue
0  California    Alameda County     06001
1  California     Alpine County     06003
2  California     Amador County     06005
3  California      Butte County     06007
4  California  Calaveras County     06009

In [6]:
# input population and pop density

pop_ca = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/FinalSheets/Population_Density_CA_TE.xlsx', sheet_name = 'California')
pop_tx = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/FinalSheets/Population_Density_CA_TE.xlsx', sheet_name = 'Texas')

In [7]:
pop_ca.shape

(58, 4)

In [8]:
pop_tx.shape

(254, 4)

In [9]:
pop_tx.head()

    County  Population Density  Population  State
0   Dallas              2999.7     2613539  Texas
1   Harris              2777.3     4731145  Texas
2  Tarrant              2444.0     2110640  Texas
3    Bexar              1620.7     2009324  Texas
4   Travis              1303.0     1290188  Texas

In [10]:
pop = pd.merge(pop_tx, pop_ca, how = 'outer')

In [11]:
pop.head()

    County  Population Density  Population  State
0   Dallas              2999.7     2613539  Texas
1   Harris              2777.3     4731145  Texas
2  Tarrant              2444.0     2110640  Texas
3    Bexar              1620.7     2009324  Texas
4   Travis              1303.0     1290188  Texas

In [12]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312 entries, 0 to 311
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   County              312 non-null    object
 1   Population Density  312 non-null    float64
 2   Population          312 non-null    int64
 3   State               312 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 12.2+ KB

In [13]:
# add county after each County

pop['County'] = pop['County'] + ' County'

In [14]:
pop.shape

(312, 4)

In [15]:
# combine county and the pop

df1 = df.copy()

In [16]:
final = pd.merge(df1, pop, how='outer')

In [17]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312 entries, 0 to 311
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               312 non-null    object
 1   County              312 non-null    object
 2   fipsValue           312 non-null    object
 3   Population Density  312 non-null    float64
 4   Population          312 non-null    int64
dtypes: float64(1), int64(1), object(3)
memory usage: 14.6+ KB

### Add region by county

In [20]:
df.head()

        State            County fipsValue
0  California    Alameda County     06001
1  California     Alpine County     06003
2  California     Amador County     06005
3  California      Butte County     06007
4  California  Calaveras County     06009

In [21]:
research = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/FinalSheets/Combined Research(by Region).xlsx', index_col=0)
others = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/FinalSheets/snap_warn_disaster.xlsx', index_col=0)

In [22]:
research.head()

   Search Search term          Region       State  Year  Month
0      24    calfresh  Los Angeles CA  California  2019      1
1      34    calfresh  Los Angeles CA  California  2019      1
2      26    calfresh  Los Angeles CA  California  2019      1
3      26    calfresh  Los Angeles CA  California  2019      1
4      28    calfresh  Los Angeles CA  California  2019      2

In [23]:
others.head()

,County,SNAP_Applications,Year,Month,State,Number of Workers,# of disaster
0,Anderson,405,2019,1,Texas,0,0
1,Anderson,243,2019,2,Texas,0,0
2,Anderson,282,2019,3,Texas,0,0
3,Anderson,274,2019,4,Texas,0,0
4,Anderson,317,2019,5,Texas,0,0

In [24]:
# need the county, State
county = df[['County', 'State']]
county.shape

(312, 2)

In [25]:
county['latitude'] = 0.0
county['longitude'] = 0.0

In [29]:
county.head(20)

                 County       State   latitude   longitude
0        Alameda County  California  37.646493 -121.887649
1         Alpine County  California  38.597333 -119.820421
2         Amador County  California  38.446065 -120.651756
3          Butte County  California  39.667092 -121.600911
4      Calaveras County  California  38.204736 -120.554065
5         Colusa County  California  39.177598 -122.237103
6   Contra Costa County  California  37.917937 -121.925935
7      Del Norte County  California  41.743176 -123.897111
8      El Dorado County  California  38.771569 -120.539793
9         Fresno County  California  36.758278 -119.649579
10         Glenn County  California  39.598279 -122.392388
11      Humboldt County  California  40.698798 -123.873715
12      Imperial County  California  33.022684 -115.335515
13          Inyo County  California  36.511059 -117.410588
14          Kern County  California  35.342816 -118.729939
15         Kings County  California  36.075419 -119.815328
16          Lake County  California  39.102653 -122.750897
17        Lassen County  California  40.682448 -120.600369
18   Los Angeles County  California  34.342774 -118.220938
19        Madera County  California  37.218011 -119.762725

In [27]:
# cal la and longitude

import pandas as pd
import numpy as np
from geopy.geocoders import ArcGIS

nom = ArcGIS()

for idx in range(len(county)):
    try:
        cur_address = county.iloc[idx, 0] + county.iloc[idx, 1]
        cur_la_lo = list(nom.geocode(cur_address))[1]
        county.iloc[idx, 2] = cur_la_lo[0]
        county.iloc[idx, 3] = cur_la_lo[1]
    except:
        print('Something wrong with the idx:' + str(idx))

In [28]:
county.shape

(312, 4)

#### 1. County in the 'Sacramento-Stockton-Modesto CA' Region

In [30]:
# import the StrinIO function
# from io module
from io import StringIO
import pandas as pd
 
# wrap the string data in StringIO function
StringData = StringIO("""
County,State
Amador County,California
Calaveras County,California
Colusa County,California
Nevada County,California
Placer County,California
Plumas County,California
Sacramento County,California
San Joaquin County,California
Sierra County,California
Stanislaus County,California
Sutter County,California
Tuolumne County,California
Yolo County,California
Yuba County,California
    """)

# let's read the data using the Pandas
# read_csv() function
df1 = pd.read_csv(StringData, sep =",",dtype='object')

df1['Region'] = 'Sacramento-Stockton-Modesto CA'

df1

                County       State                          Region
0        Amador County  California  Sacramento-Stockton-Modesto CA
1     Calaveras County  California  Sacramento-Stockton-Modesto CA
2        Colusa County  California  Sacramento-Stockton-Modesto CA
3        Nevada County  California  Sacramento-Stockton-Modesto CA
4        Placer County  California  Sacramento-Stockton-Modesto CA
5        Plumas County  California  Sacramento-Stockton-Modesto CA
6    Sacramento County  California  Sacramento-Stockton-Modesto CA
7   San Joaquin County  California  Sacramento-Stockton-Modesto CA
8        Sierra County  California  Sacramento-Stockton-Modesto CA
9    Stanislaus County  California  Sacramento-Stockton-Modesto CA
10       Sutter County  California  Sacramento-Stockton-Modesto CA
11     Tuolumne County  California  Sacramento-Stockton-Modesto CA
12         Yolo County  California  Sacramento-Stockton-Modesto CA
13         Yuba County  California  Sacramento-Stockton-Modesto CA

#### 2. County in the 'Los_CA' Region - only Los Angeles County

#### 3. County in the 'San Francisco-Oakland-San Jose CA' Region

In [31]:
a = ['Alameda County', 'Contra Costa County', 'Marin County', 'Napa County', 'San Francisco County', 'San Mateo County', 'Santa Clara County', 'Solano County', 'Sonoma County']

df_sf = pd.DataFrame(a)

In [32]:
df_sf['State'] = 'California'
df_sf['Region'] = 'San Francisco-Oakland-San Jose CA'
df_sf.rename(columns={0:'County'}, inplace = True)

In [33]:
df_sf.head()

                 County       State                             Region
0        Alameda County  California  San Francisco-Oakland-San Jose CA
1   Contra Costa County  California  San Francisco-Oakland-San Jose CA
2          Marin County  California  San Francisco-Oakland-San Jose CA
3           Napa County  California  San Francisco-Oakland-San Jose CA
4  San Francisco County  California  San Francisco-Oakland-San Jose CA

#### 4. County in the 'San Diego CA' Region - only San Diego County

#### 5. County in the 'Austin' Region - only Austin

#### 6. County in the 'SanAntonio' Region

In [34]:

 
# wrap the string data in StringIO function
StringData = StringIO("""
County,State
Atascosa County,Texas
Bandera County,Texas
Comal County,Texas
Frio County,Texas
Gillespie County,Texas
Guadalupe County,Texas
Karnes County,Texas
Kendall County,Texas
Kerr County,Texas
Medina County,Texas
Wilson County,Texas
    """)

# let's read the data using the Pandas
# read_csv() function
df_sa = pd.read_csv(StringData, sep =",", dtype='object')
df_sa['Region'] = 'SanAntonio'
# Print the dataframe
df_sa

              County  State      Region
0    Atascosa County  Texas  SanAntonio
1     Bandera County  Texas  SanAntonio
2       Comal County  Texas  SanAntonio
3        Frio County  Texas  SanAntonio
4   Gillespie County  Texas  SanAntonio
5   Guadalupe County  Texas  SanAntonio
6      Karnes County  Texas  SanAntonio
7     Kendall County  Texas  SanAntonio
8        Kerr County  Texas  SanAntonio
9      Medina County  Texas  SanAntonio
10     Wilson County  Texas  SanAntonio

#### 7. County in the 'DFW' Region

In [35]:

 
# wrap the string data in StringIO function
StringData = StringIO("""
County,State
Dallas County,Texas
Tarrant County,Texas
Collin County,Texas
Denton County,Texas
Ellis County,Texas
Johnson County,Texas
Parker County,Texas
Kaufman County,Texas
Rockwall County,Texas
Hunt County,Texas
Wise County,Texas
    """)

# let's read the data using the Pandas
# read_csv() function
df_dfw = pd.read_csv(StringData, sep =",", dtype='object')
df_dfw['Region'] = 'DFW'
 
# Print the dataframe
df_dfw

             County  State Region
0     Dallas County  Texas    DFW
1    Tarrant County  Texas    DFW
2     Collin County  Texas    DFW
3     Denton County  Texas    DFW
4      Ellis County  Texas    DFW
5    Johnson County  Texas    DFW
6     Parker County  Texas    DFW
7    Kaufman County  Texas    DFW
8   Rockwall County  Texas    DFW
9       Hunt County  Texas    DFW
10      Wise County  Texas    DFW

#### Combine 7 tables

In [36]:
# 4 df

df_create = pd.concat([df1, df_sf, df_sa, df_dfw], join='outer', ignore_index=True)

In [37]:
# + 3 austin, la, San Diego CA
LA = {'County':'Los Angeles County', 'State':'California', 'Region':'Los Angeles CA'}
Au = {'County':'Austin County', 'State':'Texas', 'Region':'Austin'}
sd = {'County':'San Diego County', 'State':'California', 'Region':'San Diego CA'}

df_create.loc[len(df_create)] = LA
df_create.loc[len(df_create)] = Au
df_create.loc[len(df_create)] = sd

In [40]:
df_create

,County,State,Region,latitude,longitude
0,Amador County,California,Sacramento-Stockton-Modesto CA,38.446065,-120.651756
1,Calaveras County,California,Sacramento-Stockton-Modesto CA,38.204736,-120.554065
2,Colusa County,California,Sacramento-Stockton-Modesto CA,39.177598,-122.237103
3,Nevada County,California,Sacramento-Stockton-Modesto CA,39.301384,-120.768671
4,Placer County,California,Sacramento-Stockton-Modesto CA,39.059136,-120.753631
5,Plumas County,California,Sacramento-Stockton-Modesto CA,40.000702,-120.833498
6,Sacramento County,California,Sacramento-Stockton-Modesto CA,38.449857,-121.343896
7,San Joaquin County,California,Sacramento-Stockton-Modesto CA,37.934795,-121.271310
8,Sierra County,California,Sacramento-Stockton-Modesto CA,39.580384,-120.516020
9,Stanislaus County,California,Sacramento-Stockton-Modesto CA,37.559326,-120.997662
10,Sutter County,California,Sacramento-Stockton-Modesto CA,39.034675,-121.694846
11,Tuolumne County,California,Sacramento-Stockton-Modesto CA,38.027644,-119.954654
12,Yolo County,California,Sacramento-Stockton-Modesto CA,38.686849,-121.901711
13,Yuba County,California,Sacramento-Stockton-Modesto CA,39.269183,-121.351265
14,Alameda County,California,San Francisco-Oakland-San Jose CA,37.646493,-121.887649
15,Contra Costa County,California,San Francisco-Oakland-San Jose CA,37.917937,-121.925935
16,Marin County,California,San Francisco-Oakland-San Jose CA,38.071921,-122.719395
17,Napa County,California,San Francisco-Oakland-San Jose CA,38.506477,-122.330610
18,San Francisco County,California,San Francisco-Oakland-San Jose CA,37.755692,-122.442835
19,San Mateo County,California,San Francisco-Oakland-San Jose CA,37.422154,-122.328657
20,Santa Clara County,California,San Francisco-Oakland-San Jose CA,37.231739,-121.694821
21,Solano County,California,San Francisco-Oakland-San Jose CA,38.277934,-121.927240
22,Sonoma County,California,San Francisco-Oakland-San Jose CA,38.528618,-122.887397
23,Atascosa County,Texas,SanAntonio,28.893535,-98.527110
24,Bandera County,Texas,SanAntonio,29.747203,-99.246268
25,Comal County,Texas,SanAntonio,29.808185,-98.278196
26,Frio County,Texas,SanAntonio,28.867710,-99.108227
27,Gillespie County,Texas,SanAntonio,30.318026,-98.946276
28,Guadalupe County,Texas,SanAntonio,29.583096,-97.948657
29,Karnes County,Texas,SanAntonio,28.905631,-97.859421
30,Kendall County,Texas,SanAntonio,29.944677,-98.711607
31,Kerr County,Texas,SanAntonio,30.061497,-99.350215
32,Medina County,Texas,SanAntonio,29.355639,-99.110024
33,Wilson County,Texas,SanAntonio,29.174000,-98.086509
34,Dallas County,Texas,DFW,32.766585,-96.777794
35,Tarrant County,Texas,DFW,32.771542,-97.291195
36,Collin County,Texas,DFW,33.188034,-96.572718
37,Denton County,Texas,DFW,33.200923,-97.118558
38,Ellis County,Texas,DFW,32.348393,-96.794604
39,Johnson County,Texas,DFW,32.378989,-97.366415
40,Parker County,Texas,DFW,32.777719,-97.805123
41,Kaufman County,Texas,DFW,32.602982,-96.289466
42,Rockwall County,Texas,DFW,32.897664,-96.407841
43,Hunt County,Texas,DFW,33.133313,-96.088037
44,Wise County,Texas,DFW,33.215862,-97.654382
45,Los Angeles County,California,Los Angeles CA,34.342774,-118.220938
46,Austin County,Texas,Austin,29.886695,-96.277457
47,San Diego County,California,San Diego CA,33.033898,-116.756412

In [39]:
# cal la and long for region 

df_create['latitude'] = 0.0
df_create['longitude'] = 0.0

for idx in range(len(df_create)):
    try:
        cur_address = df_create.iloc[idx, 0] + df_create.iloc[idx, 1]
        cur_la_lo = list(nom.geocode(cur_address))[1]
        df_create.iloc[idx, 3] = cur_la_lo[0]
        df_create.iloc[idx, 4] = cur_la_lo[1]
    except:
        print('Something wrong with the idx:' + str(idx))

In [41]:
# match each county by the distance with the cloest county within the region

# 'buffCounty'

import math
import collections
county['buffCounty'] = ''
county['low_dis'] = 0

M = len(county)
N = len(df_create)


for i in range(M): 
    x1 = county.iloc[i,2] # la
    x2 = county.iloc[i,3] # long
    min_dis = float('inf')

    for idx in range(N): # region tbale
        y1 = df_create.iloc[idx,3] # la
        y2 = df_create.iloc[idx,4] # long

        dis = math.dist([x1,x2],[y1,y2])
        #lookup[combine_ca.iloc[idx,0]] = dis

        if dis < min_dis and dis != 0:
            min_dis = dis
            buffCounty = df_create.iloc[idx,0]
            
    county.iloc[i,4] = buffCounty
    county.iloc[i,5] = min_dis

In [55]:
county.head()

county.drop(columns=['latitude','longitude','low_dis'], inplace=True)

,County,State,latitude,longitude,buffCounty,low_dis
0,Alameda County,California,37.646493,-121.887649,Contra Costa County,0.274131
1,Alpine County,California,38.597333,-119.820421,Tuolumne County,0.585290
2,Amador County,California,38.446065,-120.651756,Calaveras County,0.260352
3,Butte County,California,39.667092,-121.600911,Yuba County,0.469739
4,Calaveras County,California,38.204736,-120.554065,Amador County,0.260352

In [56]:
county.head()

             County       State           buffCounty
0    Alameda County  California  Contra Costa County
1     Alpine County  California      Tuolumne County
2     Amador County  California     Calaveras County
3      Butte County  California          Yuba County
4  Calaveras County  California        Amador County

In [57]:
df_create.drop(columns=['latitude','longitude'], inplace=True)

,County,State,Region,buffCounty
0,Amador County,California,Sacramento-Stockton-Modesto CA,Amador County
1,Calaveras County,California,Sacramento-Stockton-Modesto CA,Calaveras County
2,Colusa County,California,Sacramento-Stockton-Modesto CA,Colusa County
3,Nevada County,California,Sacramento-Stockton-Modesto CA,Nevada County
4,Placer County,California,Sacramento-Stockton-Modesto CA,Placer County

In [59]:
df_create.drop(columns=['County'], inplace=True)

In [69]:
df_create.drop(columns=['State'], inplace=True)

In [70]:
county.head()
df_create.head()

             County       State           buffCounty
0    Alameda County  California  Contra Costa County
1     Alpine County  California      Tuolumne County
2     Amador County  California     Calaveras County
3      Butte County  California          Yuba County
4  Calaveras County  California        Amador County

                           Region        buffCounty
0  Sacramento-Stockton-Modesto CA     Amador County
1  Sacramento-Stockton-Modesto CA  Calaveras County
2  Sacramento-Stockton-Modesto CA     Colusa County
3  Sacramento-Stockton-Modesto CA     Nevada County
4  Sacramento-Stockton-Modesto CA     Placer County

In [75]:
# use buffCounty to match two table
# 312 county and its Region

county_region = pd.merge(county, df_create, on=['buffCounty'], how='left').drop(columns=['buffCounty'])

In [76]:
final.head()

        State            County fipsValue  Population Density  Population
0  California    Alameda County     06001              1898.5     1559308
1  California     Alpine County     06003                 1.6        1202
2  California     Amador County     06005                61.3       37159
3  California      Butte County     06007               132.1      221578
4  California  Calaveras County     06009                43.3       44921

In [77]:
county_region.head()

             County       State                             Region
0    Alameda County  California  San Francisco-Oakland-San Jose CA
1     Alpine County  California     Sacramento-Stockton-Modesto CA
2     Amador County  California     Sacramento-Stockton-Modesto CA
3      Butte County  California     Sacramento-Stockton-Modesto CA
4  Calaveras County  California     Sacramento-Stockton-Modesto CA

In [81]:
final = pd.merge(final, county_region, on=['County', 'State'], how='left')

In [82]:
final.to_excel('RootDatabase.xlsx')


### 4. Dependent
        - X1 - Disaster
        
        - 2019-2021

In [130]:
disaster = pd.read_csv('/Users/chensumei/Desktop/Ram Paper/Disaster/DisasterDeclarationsSummaries.csv')

In [131]:
disaster.head()

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,incidentBeginDate,incidentEndDate,disasterCloseoutDate,fipsStateCode,fipsCountyCode,placeCode,designatedArea,declarationRequestNumber,lastIAFilingDate,hash,id,lastRefresh
0,FM-5444-TX,5444,TX,FM,2022-07-19T00:00:00.000Z,2022,Fire,CHALK MOUNTAIN FIRE,0,0,1,1,2022-07-18T00:00:00.000Z,NaN,NaN,48,221,99221,Hood (County),22060,NaN,373c5ec27998afc08a53302dae796f476b1a6546,867be42a-71d5-4f13-aa21-d91e0a6fd577,2022-07-20T21:21:23.941Z
1,FM-5436-NE,5436,NE,FM,2022-04-23T00:00:00.000Z,2022,Fire,ROAD 702 FIRE,0,0,1,1,2022-04-22T00:00:00.000Z,NaN,NaN,31,63,99063,Frontier (County),22034,NaN,ea3487ef36cff455236ce4c63d32fb8b5412bcef,e671348b-9782-42df-99f4-d38b8b1a89e6,2022-07-20T21:21:23.942Z
2,FM-5444-TX,5444,TX,FM,2022-07-19T00:00:00.000Z,2022,Fire,CHALK MOUNTAIN FIRE,0,0,1,1,2022-07-18T00:00:00.000Z,NaN,NaN,48,425,99425,Somervell (County),22060,NaN,1f35dd8137e1b4cf003fb73d53d8aaaf642e6190,40f3ff75-0b80-4d25-8e85-156cd6a6f40b,2022-07-20T21:21:23.943Z
3,FM-5436-NE,5436,NE,FM,2022-04-23T00:00:00.000Z,2022,Fire,ROAD 702 FIRE,0,0,1,1,2022-04-22T00:00:00.000Z,NaN,NaN,31,65,99065,Furnas (County),22034,NaN,9d813a845ab86f546bdf642fda53d3d4a0fbd098,de47838f-32db-4058-a34c-64997333789e,2022-07-20T21:21:23.943Z
4,FM-5436-NE,5436,NE,FM,2022-04-23T00:00:00.000Z,2022,Fire,ROAD 702 FIRE,0,0,1,1,2022-04-22T00:00:00.000Z,NaN,NaN,31,145,99145,Red Willow (County),22034,NaN,d436856ce1d5205fa78597b93661fb27d3cea796,483c03b7-160a-414e-bb4f-5ccecc18d94a,2022-07-20T21:21:23.944Z

In [132]:
disaster.fyDeclared.unique()

array([2022, 2021, 2020, 2019, 2011, 2018, 2017, 2016, 2015, 2014, 2013,
       2012, 2010, 2009, 2005, 2004, 2003, 2023, 2000, 2008, 2007, 1998,
       2001, 1999, 1985, 1997, 1996, 1994, 1993, 1995, 1979, 1992, 1984,
       1982, 1981, 1980, 1978, 1987, 1977, 1976, 1975, 1974, 2006, 2002,
       1991, 1988, 1973, 1990, 1983, 1989, 1971, 1970, 1986, 1972, 1963,
       1969, 1968, 1967, 1966, 1965, 1964, 1962, 1961, 1960, 1959, 1957,
       1956, 1955, 1954, 1953, 1958])

In [133]:
# filter TX and CA

disaster = disaster[(disaster.state == 'TX') | (disaster.state == 'CA')]

# make date col
disaster['date'] = pd.to_datetime(disaster.declarationDate)

# make Year, Month col
disaster['Year'] = disaster.date.dt.year.astype('Int64')
disaster['Month'] = disaster.date.dt.month.astype('Int64')

# filter year < 2018 and year >2022 year_need = [2019, 2020, 2021]
disaster = disaster[(disaster.Year > 2018) & (disaster.Year < 2022)]

# Create new colomn State and use 'California' and 'Texas' instead

disaster['State'] = disaster['state'].apply(lambda x: 'California' if x == 'CA' else 'Texas')

# drop state col
disaster.drop(columns='state', inplace=True)

disaster.head()

,femaDeclarationString,disasterNumber,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,incidentBeginDate,incidentEndDate,disasterCloseoutDate,fipsStateCode,fipsCountyCode,placeCode,designatedArea,declarationRequestNumber,lastIAFilingDate,hash,id,lastRefresh,date,Year,Month,State
17,FM-5422-TX,5422,FM,2021-12-15T00:00:00.000Z,2022,Fire,NORTH 207 FIRE,0,0,1,1,2021-12-15T00:00:00.000Z,2021-12-19T00:00:00.000Z,NaN,48,65,99065,Carson (County),21127,NaN,e05df54a55352b44a487f72633c694abe241794e,b3eac54a-8e0f-488d-8a76-09e1957276c1,2022-07-20T21:21:23.953Z,2021-12-15 00:00:00+00:00,2021,12,Texas
19,FM-5420-TX,5420,FM,2021-12-10T00:00:00.000Z,2022,Fire,COUNTY LINE FIRE,0,0,1,1,2021-12-10T00:00:00.000Z,2021-12-12T00:00:00.000Z,NaN,48,485,99485,Wichita (County),21124,NaN,8d6dd9a207ad644f6d29309c567934158e50864a,0ac20702-bc89-4cd7-9725-93d0e5c3effa,2022-07-20T21:21:23.953Z,2021-12-10 00:00:00+00:00,2021,12,Texas
20,FM-5419-CA,5419,FM,2021-10-13T00:00:00.000Z,2022,Fire,ALISAL FIRE,0,0,1,1,2021-10-12T00:00:00.000Z,2021-11-17T00:00:00.000Z,NaN,6,83,99083,Santa Barbara (County),21115,NaN,17edad9d4cc762ef5b5742f5d5edd10454ef60f8,b4e678f9-cf9a-4e7b-ba61-674fbc27f79f,2022-07-20T21:21:23.954Z,2021-10-13 00:00:00+00:00,2021,10,California
22,FM-5417-CA,5417,FM,2021-09-23T00:00:00.000Z,2021,Fire,FAWN FIRE,0,0,1,1,2021-09-23T00:00:00.000Z,2021-09-28T00:00:00.000Z,NaN,6,89,99089,Shasta (County),21107,NaN,3809b30662360a7a7f6abc0ade66d5de788ba78e,a5363141-bf7a-4aad-8684-ad7bd6b158a7,2022-07-20T21:21:23.955Z,2021-09-23 00:00:00+00:00,2021,9,California
23,FM-5416-CA,5416,FM,2021-08-25T00:00:00.000Z,2021,Fire,FRENCH FIRE,0,0,1,1,2021-08-24T00:00:00.000Z,2021-09-06T00:00:00.000Z,NaN,6,29,99029,Kern (County),21088,NaN,b8b536ea26f41d10c3bf4f824006d41601083538,d758bd1f-ecac-4471-b2f5-28421343de53,2022-07-20T21:21:23.955Z,2021-08-25 00:00:00+00:00,2021,8,California

In [134]:
col_need = ['disasterNumber', 'declarationType', 'incidentType', 'fipsCountyCode', 'designatedArea', 'Year', 'Month', 'State']

disaster = disaster[col_need]

disaster.head()

,disasterNumber,declarationType,incidentType,fipsCountyCode,designatedArea,Year,Month,State
17,5422,FM,Fire,65,Carson (County),2021,12,Texas
19,5420,FM,Fire,485,Wichita (County),2021,12,Texas
20,5419,FM,Fire,83,Santa Barbara (County),2021,10,California
22,5417,FM,Fire,89,Shasta (County),2021,9,California
23,5416,FM,Fire,29,Kern (County),2021,8,California

In [135]:
len(str(disaster.iloc[5, 3]))

2

In [136]:
# transfer fipsCountyCode to obj

disaster['fipsCountyCode'] = disaster.fipsCountyCode.astype('object')

for i in range(len(disaster)):
    if len(str(disaster.iloc[i, 3])) == 1:
        sq = ('00', str(disaster.iloc[i, 3]) )
        disaster.iloc[i, 3] = ''.join(sq)
    elif len(str(disaster.iloc[i, 3])) == 2:
        sq = ('0', str(disaster.iloc[i, 3]) )
        disaster.iloc[i, 3] = ''.join(sq)
    else:
        pass

In [137]:
disaster['fipsValue'] = ''


for i in range(len(disaster)):   
    if disaster.iloc[i, -2] == 'Texas':
        te = ('48', str(disaster.iloc[i, 3]))
        fipsValue = ''.join(te)
        disaster.iloc[i, -1] = fipsValue
    else:
        ca = ('06', str(disaster.iloc[i, 3]))
        fipsValue = ''.join(ca)
        disaster.iloc[i, -1] = fipsValue

In [138]:
disaster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1418 entries, 17 to 45943
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   disasterNumber   1418 non-null   int64
 1   declarationType  1418 non-null   object
 2   incidentType     1418 non-null   object
 3   fipsCountyCode   1418 non-null   object
 4   designatedArea   1418 non-null   object
 5   Year             1418 non-null   Int64
 6   Month            1418 non-null   Int64
 7   State            1418 non-null   object
 8   fipsValue        1418 non-null   object
dtypes: Int64(2), int64(1), object(6)
memory usage: 113.6+ KB

In [139]:
# count by fipsValue, year, month

disaster = disaster.groupby(['fipsValue', 'Year', 'Month'])['fipsValue'].count().to_frame().rename(columns={'fipsValue':'Disaster'}).reset_index()

In [140]:
import copy

data_2019_2021 = copy.deepcopy(final)

In [141]:
data_2019_2021.head()

,State,County,fipsValue,Population Density,Population,Region
0,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA
1,California,Alpine County,06003,1.6,1202,Sacramento-Stockton-Modesto CA
2,California,Amador County,06005,61.3,37159,Sacramento-Stockton-Modesto CA
3,California,Butte County,06007,132.1,221578,Sacramento-Stockton-Modesto CA
4,California,Calaveras County,06009,43.3,44921,Sacramento-Stockton-Modesto CA

In [142]:
year = [2019, 2020, 2021]
month = [x for x in range(1, 13)]
time_data = []

for i in range(3):
    
    time_tem = pd.DataFrame(data={
        'Year' : str(year[i]),
        'Month': month
    })
    
    time_data.append(time_tem)

In [143]:
time_data = time_data[0].merge(time_data[1], how = 'outer').merge(time_data[2], how = 'outer')

In [144]:
time_data

    Year  Month
0   2019      1
1   2019      2
2   2019      3
3   2019      4
4   2019      5
5   2019      6
6   2019      7
7   2019      8
8   2019      9
9   2019     10
10  2019     11
11  2019     12
12  2020      1
13  2020      2
14  2020      3
15  2020      4
16  2020      5
17  2020      6
18  2020      7
19  2020      8
20  2020      9
21  2020     10
22  2020     11
23  2020     12
24  2021      1
25  2021      2
26  2021      3
27  2021      4
28  2021      5
29  2021      6
30  2021      7
31  2021      8
32  2021      9
33  2021     10
34  2021     11
35  2021     12

In [145]:
data_2019_2021 = data_2019_2021.assign(foo=1).merge(time_data.assign(foo=1)).drop('foo', 1)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/4157339330.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data_2019_2021 = data_2019_2021.assign(foo=1).merge(time_data.assign(foo=1)).drop('foo', 1)

In [146]:
data_2019_2021.head()

,State,County,fipsValue,Population Density,Population,Region,Year,Month
0,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2019,1
1,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2019,2
2,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2019,3
3,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2019,4
4,California,Alameda County,06001,1898.5,1559308,San Francisco-Oakland-San Jose CA,2019,5

### Debug - two tables may be have different fipsValue

In [197]:
y = data_2019_2021.fipsValue.tolist()

In [148]:
#disaster.drop(columns=['Year', 'Month'], inplace=True)

In [198]:
x = disaster.fipsValue.tolist()

In [199]:
for i in range(len(x)):
    if x[i] in y:
        pass
    else:
        print(i)

In [200]:
x[0]

'06001'

In [170]:
x[1]

'06000'

In [171]:
x[2]

'06000'

In [176]:
x[160]

'48000'

In [179]:
#drop these fipsValue index since they are reservation not county

disaster.drop([0,1,2,160], inplace=True)

In [188]:
disaster.head()

  fipsValue  Year Month  Disaster
3     06001  2020     3         2
4     06003  2020     3         2
5     06003  2021     9         1
6     06005  2019     5         1
7     06005  2020     3         2

In [259]:
# transfer Year and Month to object

disaster['Year'] = disaster['Year'].astype(str)
disaster['Month'] = disaster['Month'].astype(str)

In [268]:
# transfer Year and Month to object

data_2019_2021['Year'] = data_2019_2021['Year'].astype(str)
data_2019_2021['Month'] = data_2019_2021['Month'].astype(str)
data_2019_2021['fipsValue'] = data_2019_2021['fipsValue'].astype(str)

data_2019_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11232 entries, 0 to 11231
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               11232 non-null  object
 1   County              11232 non-null  object
 2   fipsValue           11232 non-null  object
 3   Population Density  11232 non-null  float64
 4   Population          11232 non-null  int64
 5   Region              11232 non-null  object
 6   Year                11232 non-null  object
 7   Month               11232 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.0+ MB

In [278]:
dis = pd.merge(data_2019_2021, disaster,on=['fipsValue','Year', 'Month'],how='left').fillna(0)

In [280]:
dis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11232 entries, 0 to 11231
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               11232 non-null  object
 1   County              11232 non-null  object
 2   fipsValue           11232 non-null  object
 3   Population Density  11232 non-null  float64
 4   Population          11232 non-null  int64
 5   Region              11232 non-null  object
 6   Year                11232 non-null  object
 7   Month               11232 non-null  object
 8   Disaster            11232 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 877.5+ KB

In [281]:
import copy

final2 = copy.deepcopy(dis)

### 4. Dependent
        - X2 - Warn

In [293]:
warn_ca = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Warn/WARN Notices California_Omer Arain.xlsx')
warn_te = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Warn/WARN Notices Texas_Omer Arain.xlsx')

In [294]:

warn_ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11534 entries, 0 to 11533
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State                11534 non-null  object
 1   Company              11534 non-null  object
 2   City                 11534 non-null  object
 3   Number of Workers    11532 non-null  float64
 4   Received Date        11534 non-null  datetime64[ns]
 5   Effective Date       11532 non-null  datetime64[ns]
 6   Layoff/Closure       11534 non-null  object
 7   Temporary/Permanent  0 non-null      float64
 8   Union                0 non-null      float64
 9   Region               0 non-null      float64
 10  County               9408 non-null   object
 11  Industry             0 non-null      float64
 12  Notes                0 non-null      float64
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 1.1+ MB

In [295]:
warn_ca['Year'] = warn_ca['Received Date'].dt.year.astype('int64')
warn_ca['Month'] = warn_ca['Received Date'].dt.month.astype('int64')

In [296]:
warn_ca.head()

,State,Company,City,Number of Workers,Received Date,Effective Date,Layoff/Closure,Temporary/Permanent,Union,Region,County,Industry,Notes,Year,Month
0,California,Zymergen Inc.,5300 Chiron Way Emeryville CA 94608,29.0,2023-01-18,2023-03-15,Layoff Permanent,NaN,NaN,NaN,Alameda County,NaN,NaN,2023,1
1,California,Radial,2101 Flotilla St. Montebello CA 90640,13.0,2023-01-18,2023-03-31,Closure Permanent,NaN,NaN,NaN,Los Angeles County,NaN,NaN,2023,1
2,California,Intel Corporation,2200 Mission College Boulevard Santa Clara CA ...,201.0,2023-01-18,2023-01-31,Layoff Permanent,NaN,NaN,NaN,Santa Clara County,NaN,NaN,2023,1
3,California,Intel Corporation,1900 Prairie City Drive Folsom CA 95630,167.0,2023-01-18,2023-03-15,Layoff Permanent,NaN,NaN,NaN,Sacramento County,NaN,NaN,2023,1
4,California,Intel Corporation,1900 Prairie City Drive Folsom CA 95630,176.0,2023-01-18,2023-01-31,Layoff Permanent,NaN,NaN,NaN,Sacramento County,NaN,NaN,2023,1

In [297]:
col_need = ['State', 'County', 'Year', 'Month', 'Number of Workers']

warn_ca = warn_ca[col_need]

In [298]:
warn_ca= warn_ca[(warn_ca.Year > 2018) & (warn_ca.Year < 2022)]

In [299]:
warn_ca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7480 entries, 921 to 8400
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              7480 non-null   object
 1   County             7480 non-null   object
 2   Year               7480 non-null   int64
 3   Month              7480 non-null   int64
 4   Number of Workers  7478 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 350.6+ KB

In [302]:
#sum(number of workers) every county every month every year - add column

warn_ca = warn_ca.groupby(['State','Year','Month','County'])['Number of Workers'].sum()
warn_ca = warn_ca.to_frame()
warn_ca = warn_ca.reset_index(level=['State', 'Year', 'Month', 'County'])
warn_ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              753 non-null    object
 1   Year               753 non-null    int64
 2   Month              753 non-null    int64
 3   County             753 non-null    object
 4   Number of Workers  753 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 29.5+ KB

In [303]:
warn_ca.head()

        State  Year  Month          County  Number of Workers
0  California  2019      1  Alameda County               45.0
1  California  2019      1    Butte County             1373.0
2  California  2019      1    Contra Costa                3.0
3  California  2019      1     Kern County              134.0
4  California  2019      1     Los Angeles             1526.0

In [304]:
warn_te['Year'] = warn_te['WARN Received Date'].dt.year.astype('Int64')
warn_te['Month'] = warn_te['WARN Received Date'].dt.month.astype('Int64')

warn_te = warn_te[col_need]
warn_te= warn_te[(warn_te.Year > 2018) & (warn_te.Year < 2022)]

In [305]:
warn_te['County'] = warn_te['County'] + ' County'

In [306]:
warn_te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1492 entries, 92 to 1583
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              1492 non-null   object
 1   County             1492 non-null   object
 2   Year               1492 non-null   Int64
 3   Month              1492 non-null   Int64
 4   Number of Workers  1490 non-null   float64
dtypes: Int64(2), float64(1), object(2)
memory usage: 72.9+ KB

In [307]:
warn_te = warn_te.groupby(['State','Year','Month','County'])['Number of Workers'].sum()
warn_te = warn_te.to_frame()

In [308]:
warn_te = warn_te.reset_index(level=['State', 'Year', 'Month', 'County'])

In [328]:
for i in range(len(warn_ca)):
    if warn_ca.iloc[i, 3][-6:] != 'County':
        warn_ca.iloc[i, 3] = warn_ca.iloc[i, 3] + ' County'

In [329]:
for i in range(len(warn_te)):
    if warn_te.iloc[i, 3][-6:] != 'County':
        warn_te.iloc[i, 3] = warn_te.iloc[i, 3] + ' County'

In [335]:
warn_ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              753 non-null    object
 1   Year               753 non-null    object
 2   Month              753 non-null    object
 3   County             753 non-null    object
 4   Number of Workers  753 non-null    float64
dtypes: float64(1), object(4)
memory usage: 29.5+ KB

In [334]:
warn_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              421 non-null    object
 1   Year               421 non-null    object
 2   Month              421 non-null    object
 3   County             421 non-null    object
 4   Number of Workers  421 non-null    float64
dtypes: float64(1), object(4)
memory usage: 16.6+ KB

In [333]:
warn_ca['Year'] = warn_ca['Year'].astype('str')
warn_ca['Month'] = warn_ca['Month'].astype('str')

warn_te['Year'] = warn_te['Year'].astype('str')
warn_te['Month'] = warn_te['Month'].astype('str')

In [340]:
warn = pd.merge(warn_ca,warn_te, how='outer')

In [ ]:
#keys=['State', 'County', 'Year', 'Month']

In [341]:
# merge warn to final2

final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11232 entries, 0 to 11231
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               11232 non-null  object
 1   County              11232 non-null  object
 2   fipsValue           11232 non-null  object
 3   Population Density  11232 non-null  float64
 4   Population          11232 non-null  int64
 5   Region              11232 non-null  object
 6   Year                11232 non-null  object
 7   Month               11232 non-null  object
 8   Disaster            11232 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 877.5+ KB

In [344]:
final3 = pd.merge(final2, warn, how = 'left', on=['Year', 'County', 'Month', 'State'])

In [354]:
final3 = final3.fillna(0)

### 3. Independent
        - Y
            - SnapApplication int32

In [385]:
snap1_ca_month = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Snap_CalFresh/Snap_CalFresh_CA/CalFresh Data Publicly Accessible 2014 to 2021.xlsx', sheet_name = 'Monthly')
snap_te= pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Snap_CalFresh/Texas SNAP Applications.xlsx',sheet_name='ALL DATA - Long Format' )

In [386]:
snap_ca_received = snap1_ca_month[['County','Date','Applications Received']]

In [387]:
snap_ca_received.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 5841 non-null   object
 1   Date                   5841 non-null   datetime64[ns]
 2   Applications Received  3974 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 137.0+ KB

In [388]:
# fill NaN with )
snap_ca_received.fillna(0, inplace=True)

# add common colomns: Year, Month, State
snap_ca_received['State'] = 'California'
snap_ca_received['Year'] = snap_ca_received['Date'].dt.year.astype('Int64')
snap_ca_received['Month'] = snap_ca_received['Date'].dt.month.astype('Int64')
snap_ca_received.drop(columns='Date', inplace=True)
snap_ca_received.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 5841 non-null   object
 1   Applications Received  5841 non-null   float64
 2   State                  5841 non-null   object
 3   Year                   5841 non-null   Int64
 4   Month                  5841 non-null   Int64
dtypes: Int64(2), float64(1), object(2)
memory usage: 239.7+ KB

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/94688230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received.fillna(0, inplace=True)
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/94688230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received['State'] = 'California'
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/94688230.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received['Year'] = snap_ca_received['Date'].dt.year.astype('Int64')
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/94688230.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received['Month'] = snap_ca_received['Date'].dt.month.astype('Int64')
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/94688230.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received.drop(columns='Date', inplace=True)

In [389]:
#del/filter snap_ca_received.County == 'Statewide'

snap_ca_received = snap_ca_received[snap_ca_received.County != 'Statewide']
snap_ca_received.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5742 entries, 1 to 5840
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 5742 non-null   object
 1   Applications Received  5742 non-null   float64
 2   State                  5742 non-null   object
 3   Year                   5742 non-null   Int64
 4   Month                  5742 non-null   Int64
dtypes: Int64(2), float64(1), object(2)
memory usage: 280.4+ KB

In [390]:
# snap_ca_received['Year'] = snap_ca_received['Year'].astype(object)
# snap_ca_received['Month'] = snap_ca_received['Month'].astype(object)

In [391]:
snap_ca_final = snap_ca_received[(snap_ca_received.Year>2018) & (snap_ca_received.Year<2022)]

# transfer Application received to Int64

snap_ca_final['Applications Received'] = snap_ca_final['Applications Received'].astype('Int64')

# rename Applications Received to SNAP_Applications
snap_ca_final.rename(columns={'Applications Received':'SNAP_Applications'}, inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/2004334555.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_final['Applications Received'] = snap_ca_final['Applications Received'].astype('Int64')
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/2004334555.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_final.rename(columns={'Applications Received':'SNAP_Applications'}, inplace=True)

In [392]:
snap_ca_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2088 entries, 3541 to 5663
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             2088 non-null   object
 1   SNAP_Applications  2088 non-null   Int64
 2   State              2088 non-null   object
 3   Year               2088 non-null   Int64
 4   Month              2088 non-null   Int64
dtypes: Int64(3), object(2)
memory usage: 104.0+ KB

#### snap - te

In [393]:
snap_te = snap_te[snap_te.County != 'Unavailable or Not a Texas County']

In [394]:
#just want the total column
snap_te.drop(columns=['Approved', 'Denied'], inplace=True)

#rename total to SNAP_Applications
snap_te.rename(columns={'Total':'SNAP_Applications'}, inplace=True)

In [395]:
snap_te.head()

     County   Month  SNAP_Applications
0  Anderson  201901                405
1  Anderson  201902                243
2  Anderson  201903                282
3  Anderson  201904                274
4  Anderson  201905                317

In [396]:
snap_te['Month'] = snap_te['Month'].apply(str)
snap_te['Year'] = ''

for i in range(len(snap_te)):
    snap_te['Year'][i] = snap_te.Month[i][0:4]

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/3236823508.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Year'][i] = snap_te.Month[i][0:4]

In [397]:
snap_te['Month_new'] = ''

for i in range(len(snap_te)):
    snap_te['Month_new'][i] = snap_te.Month[i][4:6]
    
snap_te['State'] = 'Texas'

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_23307/2564969837.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Month_new'][i] = snap_te.Month[i][4:6]

In [398]:
snap_te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9144 entries, 0 to 9143
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             9144 non-null   object
 1   Month              9144 non-null   object
 2   SNAP_Applications  9144 non-null   int64
 3   Year               9144 non-null   object
 4   Month_new          9144 non-null   object
 5   State              9144 non-null   object
dtypes: int64(1), object(5)
memory usage: 758.1+ KB

In [399]:
snap_te.drop(columns='Month', inplace=True)

In [400]:
snap_te.isna().sum()

County               0
SNAP_Applications    0
Year                 0
Month_new            0
State                0
dtype: int64

In [401]:
#rename
snap_te.rename(columns={'Applications_Received':'SNAP_Applications', 'Month_new' : 'Month'}, inplace=True)

# transfer 01 to 1 categotires 

# warn_all['Year'] = warn_all['Received Date'].dt.year.astype('Int64')
# warn_all['Month'] = warn_all['Received Date'].dt.month.astype('Int64')

#df['col_name'] = pd.to_numeric(df['col_name'])
snap_te['Month'] = pd.to_numeric(snap_te['Month'])
snap_te['Year'] = pd.to_numeric(snap_te['Year'])

In [402]:
# snap_te['Year'] = snap_te['Year'].astype(object)
# snap_te['Month'] = snap_te['Month'].astype(object)

In [403]:
snap_te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9144 entries, 0 to 9143
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             9144 non-null   object
 1   SNAP_Applications  9144 non-null   int64
 2   Year               9144 non-null   int64
 3   Month              9144 non-null   int64
 4   State              9144 non-null   object
dtypes: int64(3), object(2)
memory usage: 686.7+ KB

In [442]:
snap_te.loc[(snap_te.County == 'King')]

     County  SNAP_Applications  Year Month  State
4824   King                  0  2019     1  Texas
4825   King                  0  2019     2  Texas
4826   King                  0  2019     3  Texas
4827   King                  0  2019     4  Texas
4828   King                  0  2019     5  Texas
4829   King                  0  2019     6  Texas
4830   King                  0  2019     7  Texas
4831   King                  1  2019     8  Texas
4832   King                  0  2019     9  Texas
4833   King                  0  2019    10  Texas
4834   King                  0  2019    11  Texas
4835   King                  0  2019    12  Texas
4836   King                  0  2020     1  Texas
4837   King                  2  2020     2  Texas
4838   King                  1  2020     3  Texas
4839   King                  0  2020     4  Texas
4840   King                  0  2020     5  Texas
4841   King                  0  2020     6  Texas
4842   King                  0  2020     7  Texas
4843   King                  0  2020     8  Texas
4844   King                  0  2020     9  Texas
4845   King                  0  2020    10  Texas
4846   King                  0  2020    11  Texas
4847   King                  1  2020    12  Texas
4848   King                  0  2021     1  Texas
4849   King                  2  2021     2  Texas
4850   King                  0  2021     3  Texas
4851   King                  0  2021     4  Texas
4852   King                  0  2021     5  Texas
4853   King                  1  2021     6  Texas
4854   King                  0  2021     7  Texas
4855   King                  0  2021     8  Texas
4856   King                  1  2021     9  Texas
4857   King                  2  2021    10  Texas
4858   King                  0  2021    11  Texas
4859   King                  0  2021    12  Texas

In [441]:
# idx = 4848 have problem

# change year to 2021, month to 1

snap_te.iloc[4848, 2] = '2021'
snap_te.iloc[4848, 3] = '1'

In [443]:
snap_ca_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2088 entries, 3541 to 5663
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             2088 non-null   object
 1   SNAP_Applications  2088 non-null   Int64
 2   State              2088 non-null   object
 3   Year               2088 non-null   Int64
 4   Month              2088 non-null   Int64
dtypes: Int64(3), object(2)
memory usage: 104.0+ KB

In [444]:
# combine two tables

snap_all = pd.concat([snap_te, snap_ca_final], join = "outer", ignore_index=True)

In [445]:
snap_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11232 entries, 0 to 11231
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             11232 non-null  object
 1   SNAP_Applications  11232 non-null  Int64
 2   Year               11232 non-null  object
 3   Month              11232 non-null  object
 4   State              11232 non-null  object
dtypes: Int64(1), object(4)
memory usage: 449.8+ KB

In [446]:
snap_all.head()

     County  SNAP_Applications  Year Month  State
0  Anderson                405  2019     1  Texas
1  Anderson                243  2019     2  Texas
2  Anderson                282  2019     3  Texas
3  Anderson                274  2019     4  Texas
4  Anderson                317  2019     5  Texas

In [447]:
snap_all['County'] = snap_all['County'] + ' County'

In [448]:
snap_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11232 entries, 0 to 11231
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             11232 non-null  object
 1   SNAP_Applications  11232 non-null  Int64
 2   Year               11232 non-null  object
 3   Month              11232 non-null  object
 4   State              11232 non-null  object
dtypes: Int64(1), object(4)
memory usage: 449.8+ KB

In [449]:
snap_all['Year'] = snap_all['Year'].astype(str)
snap_all['Month'] = snap_all['Month'].astype(str)

In [450]:
# 'DeWitt County' is 'De Witt County' in snap_all

for i in range(len(snap_all)):
    if snap_all.iloc[i, 0] == 'De Witt County':
        snap_all.iloc[i, 0] = 'DeWitt County'

In [455]:
final4 = pd.merge(final3, snap_all,how = 'left', on=['Year', 'County', 'Month', 'State'])

#### 4. Dependent
        - X3 - Google search

#### CA DATA

In [456]:
#ca_checklist = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/California Search Data/California Data checklist.xlsx', sheet=)
ca= pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/California Search Data/California Search Data 2019-2021.xlsx', sheet_name='Aggregated')
ca.head(10)

        Date  Search Search term          Region
0 2019-01-06      24    calfresh  Los Angeles CA
1 2019-01-13      34    calfresh  Los Angeles CA
2 2019-01-20      26    calfresh  Los Angeles CA
3 2019-01-27      26    calfresh  Los Angeles CA
4 2019-02-03      28    calfresh  Los Angeles CA
5 2019-02-10      20    calfresh  Los Angeles CA
6 2019-02-17      21    calfresh  Los Angeles CA
7 2019-02-24      27    calfresh  Los Angeles CA
8 2019-03-03      20    calfresh  Los Angeles CA
9 2019-03-10      20    calfresh  Los Angeles CA

In [459]:
ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         3120 non-null   datetime64[ns]
 1   Search       3120 non-null   int64
 2   Search term  3120 non-null   object
 3   Region       3120 non-null   object
 4   State        3120 non-null   object
 5   Year         3120 non-null   Int64
 6   Month        3120 non-null   Int64
dtypes: Int64(2), datetime64[ns](1), int64(1), object(3)
memory usage: 176.8+ KB

In [458]:
ca['State'] = 'California'
ca['Year'] = ca['Date'].dt.year.astype('Int64')
ca['Month'] = ca['Date'].dt.month.astype('Int64')

#### TX DATA

In [460]:
final4.Region.unique()

array(['San Francisco-Oakland-San Jose CA',
       'Sacramento-Stockton-Modesto CA', 'San Diego CA', 'Los Angeles CA',
       'DFW', 'SanAntonio', 'Austin'], dtype=object)

In [461]:
paths = ['/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/allsupplement',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/foodbank',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/snap',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/foodstamps',
        '/Users/chensumei/Desktop/Ram Paper/Nowcasting Project - Sumei Chen/Data/Texas Data/Texas search data/foodpantry']

#### 1. Supplemental Nutrition Assistance Program

In [462]:
# Supplemental Nutrition Assistance Program

supplement = {'Austin':'/Texas Austin Supplemental Nutrition Assistance Program (topic).csv',
             'DFW':     '/Texas DFW Supplemental Nutrition Assistance Program (topic).csv',
             'Houston':  '/Texas Houston Supplemental Nutrition Assistance Program (topic).csv',
             'SanAntonio': '/Texas San Antonio Supplemental Nutrition Assistance Program (topic).csv'}


# Supplemental Nutrition Assistance Program

import glob
import pandas as pd

supplydic = {} # {region:table}

for k,v in supplement.items():
    path = paths[0] # folder
    df = pd.read_csv(path + v)
    supplydic[k] = df

#### 2. FoodBank

In [464]:
foodbank = {'Austin': '/Texas Austin food bank.csv',
           'DFW': '/Texas DFW food bank.csv',
           'Houston': '/Texas Houston food bank.csv',
           'SanAntonio': '/Texas San Antonio food bank.csv'}

# foodbank

foodbankdic = {}

for k,v in foodbank.items():
    path = paths[1] # folder
    df = pd.read_csv(path + v)
    foodbankdic[k] = df

#### 3. FoodPantry

In [465]:
# food pantry

foodpantry = {'Austin': '/Texas Austin food pantry.csv',
           'DFW': '/Texas DFW food pantry.csv',
           'Houston': '/Texas Houston food pantry.csv',
           'SanAntonio': '/Texas San Antonio food pantry.csv'}

foodpantrydic = {}

for k,v in foodpantry.items():
    path = paths[-1] # folder
    df = pd.read_csv(path + v)
    foodpantrydic[k] = df

#### 4. Foodstamps

In [466]:
# food stamps

foodstamps = {'Austin': '/Texas Austin food stamps.csv',
           'DFW': '/Texas DFW food stamps.csv',
           'Houston': '/Texas Houston food stamps.csv',
           'SanAntonio': '/Texas San Antonio food stamps.csv'}

foodstampsdict = {}

for k,v in foodstamps.items():
    path = paths[-2] # folder
    df = pd.read_csv(path + v)
    foodstampsdict[k] = df

#### 5. Snap

In [467]:
#snap

snap = {'Austin': '/Texas Austin snap.csv',
        'DFW': '/Texas DFW snap.csv',
        'Houston': '/Texas Houston snap.csv',
        'SanAntonio': '/Texas San Antonio snap.csv'}

snapdic = {}

for k,v in snap.items():
    path = paths[-3] # folder
    df = pd.read_csv(path + v)
    snapdic[k] = df

In [468]:
# import json

li_dic = [supplydic, foodbankdic, foodpantrydic, snapdic, foodstampsdict]
li_dic_name = ['supplemental nutrition assistance program', 'food bank', 'food pantry', 'snap', 'food stamps']
# snap = calfresh in CA data

region = supplydic.keys()


for idx in range(len(li_dic)): #idx of dic

    dic = li_dic[idx]
    SearchWords = li_dic_name[idx]

    for k,v in dic.items(): # region:tables in the dic
        dic[k] = v.reset_index()
        dic[k].drop(index=0, inplace=True)

        # add column
        dic[k]['State'] = 'Texas'
        dic[k]['Region'] = str(k)

        #rename the columns
        dic[k].rename(columns={"index": "Date", "Category: All categories": "Search"}, inplace=True)
        #Search here is the int number


        # del 3 in the end + add columns
        dic[k]['Search term'] = SearchWords

        #Add year and month
        dic[k]['Year'] = '' #5
        dic[k]['Month'] = '' #6
        
        for row in range(len(dic[k])):
            dic[k].iloc[row, 5] = int(dic[k].iloc[row,0][0:4])
            dic[k].iloc[row, 6] = int(dic[k].iloc[row,0][5:7])

In [469]:
#combine all tables

frame = []

for dic in li_dic:
    for k, v in dic.items():
        table = v
        frame.append(table)

result = pd.concat(frame)

In [470]:
set(result['Search term'].values)

{'food bank',
 'food pantry',
 'food stamps',
 'snap',
 'supplemental nutrition assistance program'}

#### combine CA and TX

In [475]:
ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Search       3120 non-null   int64
 1   Search term  3120 non-null   object
 2   Region       3120 non-null   object
 3   State        3120 non-null   object
 4   Year         3120 non-null   Int64
 5   Month        3120 non-null   Int64
dtypes: Int64(2), int64(1), object(3)
memory usage: 152.5+ KB

In [474]:
ca.drop(columns='Date', inplace=True)

In [476]:
### change terms to supplemental nutrition assistance program in result data

# transfer Search to int42
result['Search'] = result['Search'].astype('Int64')

result.drop(columns='Date', inplace=True)

result['Year'] = result['Year'].astype('Int64')
result['Month'] = result['Month'].astype('Int64')

In [478]:
ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Search       3120 non-null   int64
 1   Search term  3120 non-null   object
 2   Region       3120 non-null   object
 3   State        3120 non-null   object
 4   Year         3120 non-null   Int64
 5   Month        3120 non-null   Int64
dtypes: Int64(2), int64(1), object(3)
memory usage: 152.5+ KB

In [479]:
ca.head()

   Search Search term          Region       State  Year  Month
0      24    calfresh  Los Angeles CA  California  2019      1
1      34    calfresh  Los Angeles CA  California  2019      1
2      26    calfresh  Los Angeles CA  California  2019      1
3      26    calfresh  Los Angeles CA  California  2019      1
4      28    calfresh  Los Angeles CA  California  2019      2

In [477]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 1 to 156
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Search       3120 non-null   Int64
 1   State        3120 non-null   object
 2   Region       3120 non-null   object
 3   Search term  3120 non-null   object
 4   Year         3120 non-null   Int64
 5   Month        3120 non-null   Int64
dtypes: Int64(3), object(3)
memory usage: 179.8+ KB

In [480]:
result.head()

,Search,State,Region,Search term,Year,Month
1,56,Texas,Austin,supplemental nutrition assistance program,2019,1
2,49,Texas,Austin,supplemental nutrition assistance program,2019,1
3,26,Texas,Austin,supplemental nutrition assistance program,2019,1
4,30,Texas,Austin,supplemental nutrition assistance program,2019,1
5,31,Texas,Austin,supplemental nutrition assistance program,2019,2

In [510]:
final_google = pd.concat([ca, result], join='outer')

In [511]:
final_google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6240 entries, 0 to 156
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Search       6240 non-null   Int64
 1   Search term  6240 non-null   object
 2   Region       6240 non-null   object
 3   State        6240 non-null   object
 4   Year         6240 non-null   Int64
 5   Month        6240 non-null   Int64
dtypes: Int64(3), object(3)
memory usage: 359.5+ KB

#### use mean to instead 4 differnet search number for each word

In [522]:
final_google.head(20)

,State,Region,Year,Month,Searchterm,Search
0,California,Los Angeles CA,2019,1,calfresh,27.5
1,California,Los Angeles CA,2019,1,food bank,23.0
2,California,Los Angeles CA,2019,1,food pantry,29.0
3,California,Los Angeles CA,2019,1,food stamps,67.0
4,California,Los Angeles CA,2019,1,supplemental nutrition assistance program,66.0
5,California,Los Angeles CA,2019,2,calfresh,24.0
6,California,Los Angeles CA,2019,2,food bank,17.25
7,California,Los Angeles CA,2019,2,food pantry,26.25
8,California,Los Angeles CA,2019,2,food stamps,35.25
9,California,Los Angeles CA,2019,2,supplemental nutrition assistance program,36.75
10,California,Los Angeles CA,2019,3,calfresh,21.6
11,California,Los Angeles CA,2019,3,food bank,17.6
12,California,Los Angeles CA,2019,3,food pantry,24.0
13,California,Los Angeles CA,2019,3,food stamps,29.4
14,California,Los Angeles CA,2019,3,supplemental nutrition assistance program,31.8
15,California,Los Angeles CA,2019,4,calfresh,22.5
16,California,Los Angeles CA,2019,4,food bank,17.75
17,California,Los Angeles CA,2019,4,food pantry,26.25
18,California,Los Angeles CA,2019,4,food stamps,28.0
19,California,Los Angeles CA,2019,4,supplemental nutrition assistance program,28.25

In [513]:
# set the region of houston to dfw

for i in range(len(final_google)):
    if final_google.iloc[i, 1] == 'Houston':
        final_google.iloc[i, 1] = 'DFW'

In [514]:
# rename the col for convenience

final_google.rename(columns={"Search term": "Searchterm"}, inplace = True)

# use mean to instead 4 different search number

final_google = final_google.groupby(['State','Region','Year','Month', 'Searchterm'])[('Search')].mean().reset_index()

In [515]:
final_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       1440 non-null   object
 1   Region      1440 non-null   object
 2   Year        1440 non-null   Int64
 3   Month       1440 non-null   Int64
 4   Searchterm  1440 non-null   object
 5   Search      1440 non-null   Float64
dtypes: Float64(1), Int64(2), object(3)
memory usage: 71.8+ KB

In [516]:
final4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11232 entries, 0 to 11231
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               11232 non-null  object
 1   County              11232 non-null  object
 2   fipsValue           11232 non-null  object
 3   Population Density  11232 non-null  float64
 4   Population          11232 non-null  int64
 5   Region              11232 non-null  object
 6   Year                11232 non-null  object
 7   Month               11232 non-null  object
 8   Disaster            11232 non-null  float64
 9   Number of Workers   11232 non-null  float64
 10  SNAP_Applications   11232 non-null  Int64
dtypes: Int64(1), float64(3), int64(1), object(6)
memory usage: 1.0+ MB

In [518]:
final_google['Year'] = final_google['Year'].astype('str')
final_google['Month'] = final_google['Month'].astype('str')

In [525]:
final5 = pd.merge(final4, final_google, how = 'left', on=['State', 'Region', 'Year', 'Month'])

In [526]:
final5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56160 entries, 0 to 56159
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               56160 non-null  object
 1   County              56160 non-null  object
 2   fipsValue           56160 non-null  object
 3   Population Density  56160 non-null  float64
 4   Population          56160 non-null  int64
 5   Region              56160 non-null  object
 6   Year                56160 non-null  object
 7   Month               56160 non-null  object
 8   Disaster            56160 non-null  float64
 9   Number of Workers   56160 non-null  float64
 10  SNAP_Applications   56160 non-null  Int64
 11  Searchterm          56160 non-null  object
 12  Search              56160 non-null  Float64
dtypes: Float64(1), Int64(1), float64(3), int64(1), object(7)
memory usage: 6.1+ MB

In [527]:
final5.to_excel('Database_2019_2021.xlsx')