In [1]:
%autosave 20

Autosaving every 20 seconds

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go

%pylab inline

# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Populating the interactive namespace from numpy and matplotlib

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## California (2 files)

#### CalFresh Data Publicly: 

This data table captures monthly data on unemployment, CalFresh (federal) public assistance households, CalFresh non-assistance households, California Food Assistance Program public assistance households, California Food Assistance Program non-assistance households, the total number of all public assistance households, the total number of all non-public assistance households, CalFresh households, CalFresh persons, CalFresh public assistance persons, CalFresh non-assistance persons, the total number of CalFresh persons, California Food Assistance Program public assistance persons, California Food Assistance Program non-public assistance persons, the total number of California Food Assistance Program persons, CalFresh issuances, State issuances, total number of issuances, Medi-Cal enrollment, timeliness 30 day percentage, timeliness expedited percentage, negative error rate completed cases, negative error rate, active error rate, applications received, online applications received, child only household, child only persons data, and Supplemental Security Income data. Note, certain cells are blank to meet de-identification guidelines. The data table begins in cell A2.

In [4]:
snap1_ca_month = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Snap_CalFresh/Snap_CalFresh_CA/CalFresh Data Publicly Accessible 2014 to 2021.xlsx', sheet_name = 'Monthly')
# snap1_ca_point = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/CalFresh data CA/CalFresh Data Publicly Accessible 2014 to 2021.xlsx', sheet_name = 'Point in Time')
# snap1_ca_quarterly = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/CalFresh data CA/CalFresh Data Publicly Accessible 2014 to 2021.xlsx', sheet_name = 'Quarterly')
# snap1_ca_annual = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/CalFresh data CA/CalFresh Data Publicly Accessible 2014 to 2021.xlsx', sheet_name = 'Annual')
# snap1_ca_pri = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/CalFresh data CA/CalFresh Data Publicly Accessible 2014 to 2021.xlsx', sheet_name = 'PRI')

#snap2_ca = pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Snap_CalFresh/Snap_CalFresh_CA/Calfresh Individuals, Applications and Disbursements 2019-2021.xlsx')

### Snap monthly analysis

In [5]:
snap1_ca_month.head()

,County,FIPS,County Center X,County Center Y,Consortium,Month,Date,Calendar Year,Federal Fiscal Year,State Fiscal Year,Unemployment Monthly,Federal Public Assistance Households,Federal Non-Assistance Households,CFAP Public Assistance Households,CFAP Non-Assistance Households,All Public Assistance Households,All Non-Assistance Households,CalFresh Households,CalFresh Persons,Federal Pubic Assistance Persons,Federal Non Assistance Persons,All Federal Persons,CFAP Public Assistance Persons,CFAP Non Assistance Persons,All CFAP Persons,All Public Assistance Persons,All Non-Assistance Persons,Federal Issuances,State Issuances,Total Issuances,Medi-Cal Enrollement,Timeliness 30 day Percentage,Timeliness Expedited Services Percentage Monthly,Procedural_Denials,Applications_Approved,Negative Error Rate on Completed Cases,Negative Error Rate,Active Error Rate,Applications Received,Online Applications Received,Child Only Households Monthly,Child Only Persons,EBT_FSP_dollars,EBT_SNB_dollars,EBT_TNB_dollars,All_GCF_apps_submit,SSA_GCF_apps_submit,CfA_GCF_apps_submit,CBO_GCF_apps_submit,May19_HHs_w_Unaided,Continuing CalFresh SSI Persons Unaided in the Household - No Reversal Determination Yet,Continuing CalFresh Cases with at Least One SSI Person Unaided in the Household - No Reversal Determination Yet,New Apps with at Least Some SSI - Approved,New Apps with at Least Some SSI - Denied,SSI Persons in New Apps Disposed,Average Age of SSI Persons Newly Applying,SNB Determination - Approved Cases,Active TNB Cases,SSI Disposed HH Language - Armenian,SSI Disposed HH Language - Cambodian,SSI Disposed HH Language - Cantonese,SSI Disposed HH Language - English,SSI Disposed HH Language - Farsi,SSI Disposed HH Language - Korean,SSI Disposed HH Language - Mandarin,SSI Disposed HH Language - Other,SSI Disposed HH Language - Russian,SSI Disposed HH Language - Spanish,SSI Disposed HH Language - Vietnamese,SSI Person Race/Ethnicity - American Indian or Alaska Native,SSI Person Race/Ethnicity - Asian,SSI Person Race/Ethnicity - Black or African American,SSI Person Race/Ethnicity - Hispanic,SSI Person Race/Ethnicity - More Than One Race/Ethnicity,SSI Person Race/Ethnicity - Native Hawaiian or Other Pacific Islander,SSI Person Race/Ethnicity - Other,SSI Person Race/Ethnicity - Unknown,SSI Person Race/Ethnicity - White,SNB Avg SSI Persons in Household,SNB Avg Household Size (Aided Only),SNB HouseHold Language Armenian,SNB HouseHold Language Cambodian,SNB HouseHold Language Cantonese,SNB HouseHold Language English,SNB HouseHold Language Farsi,SNB HouseHold Language Korean,SNB HouseHold Language Mandarin,SNB HouseHold Language Other,SNB HouseHold Language Russian,SNB HouseHold Language Spanish,SNB HouseHold Language Vietnamese,Total SNB Households,SNB - Female,SNB - Male,SNB SSI Person Race American Indian or Alaska Native,SNB SSI Person Race Asian,SNB SSI Person Race Black or African American,SNB SSI Person Race Hispanic,SNB SSI Person Race More Than One Race,SNB SSI Person Race Native Hawain or Pacific Islander,SNB SSI Person Race Other,SNB SSI Person Race Unknown,SNB SSI Person Race White,SNB Avg Age,SNB Disabled,Total SSI Persons in SNB Households,TNB Avg SSI Persons in Households,TNB Avg Household Size (Aided Only),TNB Household Language Armenian,TNB Household Language Cambodian,TNB Household Language Cantonese,TNB Household Language English,TNB Household Language Farsi,TNB Household Language Korean,TNB Household Language Mandarin,TNB Household Language Other,TNB Household Language Russian,TNB Household Language Spanish,TNB Household Language Vietnamese,Total TNB Households,TNB - Female,TNB - Male,TNB SSI Person Race American Indian or Alaska Native,TNB SSI Person Race Asian,TNB SSI Person Race Black or African American,TNB SSI Person Race Hispanic,TNB SSI Person Race More Than One Race,TNB SSI Person Race Native Hawain or Pacific Islander,TNB SSI Person Race Other,TNB SSI Person Race Unknown,TNB SSI Person Race White,TNB Avg Age,TNB Disabled,Total SSI Persons in TNB Households,SSI-only HHs of 1 added in the month,Average FSP benefit per HH of 1 added in the month,SSI-only HHs of 2 added in the month,Average FSP benefit per HH of 2 added in the month,Average FSP benefit per person in SSI-only HHs of 2 added in the month2,SSI only-HHs of 3+ added in the month,Average FSP benefit per HH of 3+ added in the month,Average FSP benefit per person in SSI-only HHs of 3+ added in the month3,Total SSI-only HHs added in the month,Average FSP benefit per HH added in the month - All SSI only HHs,Average FSP benefit per person in all SSI-only HHs added in the month,Ineligible Denials - SSI,Procedural Denials - SSI,Online Apps - SSI,Non-Online Apps - SSI,Average Days to Dispose - SSI,Average Approved Benefit - SSI,Column1,Claim Homeless Deduction - SSI,Claim Shelter Deduction - SSI,Claim Standard Medical Deduction - SSI,SSI Only - Ineligible Denials,SSI Only Procedural Denials,SSI Only Online Apps,SSI Only Non Online Apps,SSI Only Average Days to Dispose Application,SSI Only Claim Homeless Shelter Deduction,SSI Only Claim Shelter Deduction,SSI Only Claim Standard Medical Deduction,Average SNB Benefit All Households,SNB Households of 1,Average SNB Benefit in Households of 1,SNB Households of 2,Average SNB Benefit in Households of 2,SNB Households of 3 or More,Average SNB Benefit in Households of 3 or More,Average SNB Benefit Per Person in all Households,Average SNB Benefit Per Person in Households of 2,Average SNB Benefit Per Person in Households of 3 or More,Average TNB Benefit in All Households,TNB Households of 1,Average TNB Benefit in Households of 1,TNB Households of 2,Avearge TNB Benefit in Households of 2,TNB Households of 3 or more,Average TNB Benefit in Households of 3 or More,Average TNB Benefit Per Person in All Households,Average TNB Benefit Per Person in Households of 2,Average TNB Benefit Per Person in Households of 3 or More,SNB Discontinuances,TNB discontinuance
0,Statewide,NaN,NaN,NaN,NaN,January,2014-01-01,2014,2014,2013/14,0.084,310591.0,1686837.0,1874.0,15703.0,312465.0,1702540.0,2015005.0,4351103.0,780803.0,3527949.0,4308752.0,6102.0,36249.0,42351.0,786905.0,3564198.0,6.174124e+08,5225459.5,6.226379e+08,9907757.0,0.9601,NaN,NaN,NaN,NaN,NaN,0.0420,NaN,NaN,346087.0,718310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alameda,US-06001,-121.787181,37.680185,CalWIN,January,2014-01-01,2014,2014,2013/14,0.065,NaN,NaN,NaN,NaN,NaN,NaN,64394.0,128065.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,340549.0,0.8446,NaN,NaN,NaN,NaN,NaN,0.0322,NaN,NaN,10013.0,18895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alpine,US-06003,-120.035489,38.630100,C-IV,January,2014-01-01,2014,2014,2013/14,0.077,NaN,NaN,NaN,NaN,NaN,NaN,109.0,176.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,1.0000,NaN,NaN,NaN,NaN,NaN,0.0922,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Amador,US-06005,-120.238969,38.463280,C-IV,January,2014-01-01,2014,2014,2013/14,0.098,NaN,NaN,NaN,NaN,NaN,NaN,1752.0,3428.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6161.0,0.9370,NaN,NaN,NaN,NaN,NaN,0.0922,NaN,NaN,62.0,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Butte,US-06007,-121.566008,39.723785,C-IV,January,2014-01-01,2014,2014,2013/14,0.101,NaN,NaN,NaN,NaN,NaN,NaN,14930.0,30348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64377.0,0.9321,NaN,NaN,NaN,NaN,NaN,0.0922,NaN,NaN,966.0,1667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#snap1_ca_month.columns.tolist()

In [7]:
#'Applications Received'

In [6]:
snap_ca_received = snap1_ca_month[['County','Date','Applications Received']]

In [7]:
snap_ca_received.head()

      County       Date  Applications Received
0  Statewide 2014-01-01                    NaN
1    Alameda 2014-01-01                    NaN
2     Alpine 2014-01-01                    NaN
3     Amador 2014-01-01                    NaN
4      Butte 2014-01-01                    NaN

In [8]:
snap_ca_received.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 5841 non-null   object
 1   Date                   5841 non-null   datetime64[ns]
 2   Applications Received  3974 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 137.0+ KB

In [9]:
# fill NaN with )
snap_ca_received.fillna(0, inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/2047066769.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received.fillna(0, inplace=True)

In [10]:
# add common colomns: Year, Month, State
snap_ca_received['State'] = 'California'
snap_ca_received['Year'] = snap_ca_received['Date'].dt.year.astype('Int64')
snap_ca_received['Month'] = snap_ca_received['Date'].dt.month.astype('Int64')

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/83901474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received['State'] = 'California'
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/83901474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received['Year'] = snap_ca_received['Date'].dt.year.astype('Int64')
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/83901474.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received['Month'] = snap_ca_received['Date'].dt.month.astype('Int64')

In [12]:
#how to deal with this one, use mean or just drop them?

In [11]:
snap_ca_received.head()

      County       Date  Applications Received       State  Year  Month
0  Statewide 2014-01-01                    0.0  California  2014      1
1    Alameda 2014-01-01                    0.0  California  2014      1
2     Alpine 2014-01-01                    0.0  California  2014      1
3     Amador 2014-01-01                    0.0  California  2014      1
4      Butte 2014-01-01                    0.0  California  2014      1

In [12]:
snap_ca_received.drop(columns='Date', inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/90178494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_received.drop(columns='Date', inplace=True)

In [15]:
snap_ca_received.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 5841 non-null   object
 1   Applications Received  5841 non-null   float64
 2   State                  5841 non-null   object
 3   Year                   5841 non-null   Int64
 4   Month                  5841 non-null   Int64
dtypes: Int64(2), float64(1), object(2)
memory usage: 239.7+ KB

In [16]:
snap_ca_received.isna().sum()

County                   0
Applications Received    0
State                    0
Year                     0
Month                    0
dtype: int64

In [20]:
snap_ca_received[snap_ca_received.County == 'Statewide']

         County  Applications Received       State  Year  Month
0     Statewide                    0.0  California  2014      1
59    Statewide                    0.0  California  2014      2
118   Statewide                    0.0  California  2014      3
177   Statewide                    0.0  California  2014      4
236   Statewide                    0.0  California  2014      5
295   Statewide                    0.0  California  2014      6
354   Statewide                    0.0  California  2014      7
413   Statewide                    0.0  California  2014      8
472   Statewide                    0.0  California  2014      9
531   Statewide                    0.0  California  2014     10
590   Statewide                    0.0  California  2014     11
649   Statewide                    0.0  California  2014     12
708   Statewide                    0.0  California  2015      1
767   Statewide                    0.0  California  2015      2
826   Statewide                    0.0  California  2015      3
885   Statewide                    0.0  California  2015      4
944   Statewide                    0.0  California  2015      5
1003  Statewide                    0.0  California  2015      6
1062  Statewide                    0.0  California  2015      7
1121  Statewide                    0.0  California  2015      8
1180  Statewide                    0.0  California  2015      9
1239  Statewide                    0.0  California  2015     10
1298  Statewide                    0.0  California  2015     11
1357  Statewide                    0.0  California  2015     12
1416  Statewide                    0.0  California  2016      1
1475  Statewide                    0.0  California  2016      2
1534  Statewide                    0.0  California  2016      3
1593  Statewide                    0.0  California  2016      4
1652  Statewide                    0.0  California  2016      5
1711  Statewide                    0.0  California  2016      6
1770  Statewide               141154.0  California  2016      7
1829  Statewide               163402.0  California  2016      8
1888  Statewide               143794.0  California  2016      9
1947  Statewide               138020.0  California  2016     10
2006  Statewide               132858.0  California  2016     11
2065  Statewide               127767.0  California  2016     12
2124  Statewide               154420.0  California  2017      1
2183  Statewide               123241.0  California  2017      2
2242  Statewide               131605.0  California  2017      3
2301  Statewide               121684.0  California  2017      4
2360  Statewide               138201.0  California  2017      5
2419  Statewide               143718.0  California  2017      6
2478  Statewide               150198.0  California  2017      7
2537  Statewide               179129.0  California  2017      8
2596  Statewide               156889.0  California  2017      9
2655  Statewide               167254.0  California  2017     10
2714  Statewide               155584.0  California  2017     11
2773  Statewide               138297.0  California  2017     12
2832  Statewide               178297.0  California  2018      1
2891  Statewide               139483.0  California  2018      2
2950  Statewide               144570.0  California  2018      3
3009  Statewide               144540.0  California  2018      4
3068  Statewide               148115.0  California  2018      5
3127  Statewide               145869.0  California  2018      6
3186  Statewide               155641.0  California  2018      7
3245  Statewide               168117.0  California  2018      8
3304  Statewide               142426.0  California  2018      9
3363  Statewide               161946.0  California  2018     10
3422  Statewide               142070.0  California  2018     11
3481  Statewide               128908.0  California  2018     12
3540  Statewide               165779.0  California  2019      1
3599  Statewide               128259.0  California  2019      2
3658  Statewide               141257.0  California  2019      3
3717  Statewide               153825.0  California  2019      4
3776  Statewide               238176.0  California  2019      5
3835  Statewide               276085.0  California  2019      6
3894  Statewide               232379.0  California  2019      7
3953  Statewide               200635.0  California  2019      8
4012  Statewide               177293.0  California  2019      9
4071  Statewide               189146.0  California  2019     10
4130  Statewide               154075.0  California  2019     11
4189  Statewide               151631.0  California  2019     12
4248  Statewide               187228.0  California  2020      1
4307  Statewide               148170.0  California  2020      2
4366  Statewide               216817.0  California  2020      3
4425  Statewide               346592.0  California  2020      4
4484  Statewide               241987.0  California  2020      5
4543  Statewide               190287.0  California  2020      6
4602  Statewide               172073.0  California  2020      7
4661  Statewide               194399.0  California  2020      8
4720  Statewide               166669.0  California  2020      9
4779  Statewide               168219.0  California  2020     10
4838  Statewide               173817.0  California  2020     11
4897  Statewide               252755.0  California  2020     12
4956  Statewide               211318.0  California  2021      1
5015  Statewide               182313.0  California  2021      2
5074  Statewide               176412.0  California  2021      3
5133  Statewide               161521.0  California  2021      4
5192  Statewide               150268.0  California  2021      5
5251  Statewide               253076.0  California  2021      6
5310  Statewide               224697.0  California  2021      7
5369  Statewide               249649.0  California  2021      8
5428  Statewide               266929.0  California  2021      9
5487  Statewide               270566.0  California  2021     10
5546  Statewide               227724.0  California  2021     11
5605  Statewide               197820.0  California  2021     12
5664  Statewide               218646.0  California  2022      1
5723  Statewide               182514.0  California  2022      2
5782  Statewide                    0.0  California  2022      3

In [22]:
#del/filter snap_ca_received.County == 'Statewide'

snap_ca_received = snap_ca_received[snap_ca_received.County != 'Statewide']

In [24]:
snap_ca_received.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5742 entries, 1 to 5840
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 5742 non-null   object
 1   Applications Received  5742 non-null   float64
 2   State                  5742 non-null   object
 3   Year                   5742 non-null   Int64
 4   Month                  5742 non-null   Int64
dtypes: Int64(2), float64(1), object(2)
memory usage: 280.4+ KB


## Texas (one file)

In [25]:
snap_te= pd.read_excel('/Users/chensumei/Desktop/Ram Paper/Snap_CalFresh/Texas SNAP Applications.xlsx',sheet_name='ALL DATA - Long Format' )

In [26]:
snap_te[snap_te.County == 'Unavailable or Not a Texas County']

                                 County   Month  Approved  Denied  Total
9144  Unavailable or Not a Texas County  201901        31      44     75
9145  Unavailable or Not a Texas County  201902        23      45     68
9146  Unavailable or Not a Texas County  201903        13      62     75
9147  Unavailable or Not a Texas County  201904        15      48     63
9148  Unavailable or Not a Texas County  201905        16      51     67
9149  Unavailable or Not a Texas County  201906        63      63    126
9150  Unavailable or Not a Texas County  201907        33      72    105
9151  Unavailable or Not a Texas County  201908        26      75    101
9152  Unavailable or Not a Texas County  201909        20      70     90
9153  Unavailable or Not a Texas County  201910        23      63     86
9154  Unavailable or Not a Texas County  201911        21      46     67
9155  Unavailable or Not a Texas County  201912        29      54     83
9156  Unavailable or Not a Texas County  202001        18      46     64
9157  Unavailable or Not a Texas County  202002        20      47     67
9158  Unavailable or Not a Texas County  202003        27      55     82
9159  Unavailable or Not a Texas County  202004        43      93    136
9160  Unavailable or Not a Texas County  202005        35     100    135
9161  Unavailable or Not a Texas County  202006        31      83    114
9162  Unavailable or Not a Texas County  202007        18      88    106
9163  Unavailable or Not a Texas County  202008        26      77    103
9164  Unavailable or Not a Texas County  202009        12      69     81
9165  Unavailable or Not a Texas County  202010        27      79    106
9166  Unavailable or Not a Texas County  202011        16      61     77
9167  Unavailable or Not a Texas County  202012        25     104    129
9168  Unavailable or Not a Texas County  202101        33      96    129
9169  Unavailable or Not a Texas County  202102        31      68     99
9170  Unavailable or Not a Texas County  202103        31     117    148
9171  Unavailable or Not a Texas County  202104        22      78    100
9172  Unavailable or Not a Texas County  202105        20      77     97
9173  Unavailable or Not a Texas County  202106        25      97    122
9174  Unavailable or Not a Texas County  202107        35     267    302
9175  Unavailable or Not a Texas County  202108        32     152    184
9176  Unavailable or Not a Texas County  202109        28     213    241
9177  Unavailable or Not a Texas County  202110        39     141    180
9178  Unavailable or Not a Texas County  202111        22     118    140
9179  Unavailable or Not a Texas County  202112        22      90    112

In [27]:
snap_te = snap_te[snap_te.County != 'Unavailable or Not a Texas County']

In [28]:
#just want the total column
snap_te.drop(columns=['Approved', 'Denied'], inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/709990518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te.drop(columns=['Approved', 'Denied'], inplace=True)

In [29]:
#rename total to SNAP_Applications
snap_te.rename(columns={'Total':'SNAP_Applications'}, inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/39639335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te.rename(columns={'Total':'SNAP_Applications'}, inplace=True)

In [30]:
snap_te.head()

     County   Month  SNAP_Applications
0  Anderson  201901                405
1  Anderson  201902                243
2  Anderson  201903                282
3  Anderson  201904                274
4  Anderson  201905                317

In [31]:
snap_te.isna().sum()

County               0
Month                0
SNAP_Applications    0
dtype: int64

In [32]:
snap_te.Month.unique()

array([201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
       201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004,
       202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012,
       202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108,
       202109, 202110, 202111, 202112, 202013])

In [33]:
snap_te[snap_te.Month == 202013]

     County   Month  SNAP_Applications
4848   King  202013                  0

In [34]:
snap_te.Month.dtype

dtype('int64')

In [35]:
snap_te['Month'] = snap_te['Month'].apply(str)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/925307567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Month'] = snap_te['Month'].apply(str)

In [36]:
#creat year, month, State columns
type(snap_te.Month[1])

str

In [37]:
snap_te.Month[1][0:4]

'2019'

In [38]:
snap_te['Year'] = ''

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/540193106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Year'] = ''

In [39]:
for i in range(len(snap_te)):
    snap_te['Year'][i] = snap_te.Month[i][0:4]

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/3175068236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Year'][i] = snap_te.Month[i][0:4]

In [40]:
snap_te.head()

     County   Month  SNAP_Applications  Year
0  Anderson  201901                405  2019
1  Anderson  201902                243  2019
2  Anderson  201903                282  2019
3  Anderson  201904                274  2019
4  Anderson  201905                317  2019

In [41]:
snap_te['Month_new'] = ''

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/3449235082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Month_new'] = ''

In [42]:
for i in range(len(snap_te)):
    snap_te['Month_new'][i] = snap_te.Month[i][4:6]

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/3990121554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Month_new'][i] = snap_te.Month[i][4:6]

In [43]:
snap_te.head()

     County   Month  SNAP_Applications  Year Month_new
0  Anderson  201901                405  2019        01
1  Anderson  201902                243  2019        02
2  Anderson  201903                282  2019        03
3  Anderson  201904                274  2019        04
4  Anderson  201905                317  2019        05

In [44]:
snap_te['State'] = 'Texas'

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/125254110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['State'] = 'Texas'

In [45]:
snap_te.head()

     County   Month  SNAP_Applications  Year Month_new  State
0  Anderson  201901                405  2019        01  Texas
1  Anderson  201902                243  2019        02  Texas
2  Anderson  201903                282  2019        03  Texas
3  Anderson  201904                274  2019        04  Texas
4  Anderson  201905                317  2019        05  Texas

In [46]:
snap_te.drop(columns='Month', inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/104380326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te.drop(columns='Month', inplace=True)

In [47]:
snap_te.head()

     County  SNAP_Applications  Year Month_new  State
0  Anderson                405  2019        01  Texas
1  Anderson                243  2019        02  Texas
2  Anderson                282  2019        03  Texas
3  Anderson                274  2019        04  Texas
4  Anderson                317  2019        05  Texas

In [48]:
snap_te.isna().sum()

County               0
SNAP_Applications    0
Year                 0
Month_new            0
State                0
dtype: int64

In [49]:
snap_te.loc[snap_te.index == 4848]

     County  SNAP_Applications  Year Month_new  State
4848   King                  0  2020        13  Texas

In [50]:
# drop it 
snap_te.drop(index=4848, inplace = True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/1020012741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te.drop(index=4848, inplace = True)

In [51]:
snap_te.head()

     County  SNAP_Applications  Year Month_new  State
0  Anderson                405  2019        01  Texas
1  Anderson                243  2019        02  Texas
2  Anderson                282  2019        03  Texas
3  Anderson                274  2019        04  Texas
4  Anderson                317  2019        05  Texas

## Combine two tables

In [52]:
snap_ca_received.head()

      County  Applications Received       State  Year  Month
1    Alameda                    0.0  California  2014      1
2     Alpine                    0.0  California  2014      1
3     Amador                    0.0  California  2014      1
4      Butte                    0.0  California  2014      1
5  Calaveras                    0.0  California  2014      1

In [53]:
snap_ca_final = snap_ca_received[(snap_ca_received.Year>2018) & (snap_ca_received.Year<2022)]

In [54]:
# transfer Application received to Int64

snap_ca_final['Applications Received'] = snap_ca_final['Applications Received'].astype('Int64')

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/3572565993.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_final['Applications Received'] = snap_ca_final['Applications Received'].astype('Int64')

In [55]:
# rename Applications Received to SNAP_Applications
snap_ca_final.rename(columns={'Applications Received':'SNAP_Applications'}, inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/762360825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_final.rename(columns={'Applications Received':'SNAP_Applications'}, inplace=True)

### ------Finish CA file about data format----

In [56]:
snap_ca_final.head()

         County  SNAP_Applications       State  Year  Month
3541    Alameda               5515  California  2019      1
3542     Alpine                  4  California  2019      1
3543     Amador                154  California  2019      1
3544      Butte               2043  California  2019      1
3545  Calaveras                221  California  2019      1

In [57]:
snap_ca_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2088 entries, 3541 to 5663
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             2088 non-null   object
 1   SNAP_Applications  2088 non-null   Int64
 2   State              2088 non-null   object
 3   Year               2088 non-null   Int64
 4   Month              2088 non-null   Int64
dtypes: Int64(3), object(2)
memory usage: 104.0+ KB

In [58]:
snap_ca_final.isna().sum()

County               0
SNAP_Applications    0
State                0
Year                 0
Month                0
dtype: int64

In [53]:
# # since in Ca still have NaN - use mean fill na
# snap_mean = round(snap_ca_final.SNAP_Applications.mean())
# snap_ca_final.SNAP_Applications.fillna(snap_mean, inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_13839/182996692.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_ca_final.SNAP_Applications.fillna(snap_mean, inplace=True)

In [70]:
snap_ca_final.shape

(2088, 5)

### ------Finish CA file about data format----

In [61]:
snap_te.head()

     County  SNAP_Applications  Year Month_new  State
0  Anderson                405  2019        01  Texas
1  Anderson                243  2019        02  Texas
2  Anderson                282  2019        03  Texas
3  Anderson                274  2019        04  Texas
4  Anderson                317  2019        05  Texas

In [62]:
#rename
snap_te.rename(columns={'Applications_Received':'SNAP_Applications', 'Month_new' : 'Month'}, inplace=True)

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/3590797282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te.rename(columns={'Applications_Received':'SNAP_Applications', 'Month_new' : 'Month'}, inplace=True)

In [63]:
# transfer 01 to 1 categotires 

# warn_all['Year'] = warn_all['Received Date'].dt.year.astype('Int64')
# warn_all['Month'] = warn_all['Received Date'].dt.month.astype('Int64')

#df['col_name'] = pd.to_numeric(df['col_name'])
snap_te['Month'] = pd.to_numeric(snap_te['Month'])
snap_te['Year'] = pd.to_numeric(snap_te['Year'])

snap_te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9143 entries, 0 to 9143
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             9143 non-null   object
 1   SNAP_Applications  9143 non-null   int64
 2   Year               9143 non-null   int64
 3   Month              9143 non-null   int64
 4   State              9143 non-null   object
dtypes: int64(3), object(2)
memory usage: 428.6+ KB

/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/2036264908.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Month'] = pd.to_numeric(snap_te['Month'])
/var/folders/gh/67px3m710b74y6c1mwgnkcq40000gn/T/ipykernel_50724/2036264908.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snap_te['Year'] = pd.to_numeric(snap_te['Year'])

In [64]:
snap_te.Month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

### ------Finish TE file about data format----

In [68]:
snap_te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9143 entries, 0 to 9143
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             9143 non-null   object
 1   SNAP_Applications  9143 non-null   int64
 2   Year               9143 non-null   int64
 3   Month              9143 non-null   int64
 4   State              9143 non-null   object
dtypes: int64(3), object(2)
memory usage: 428.6+ KB

In [67]:
snap_te.isna().sum()

County               0
SNAP_Applications    0
Year                 0
Month                0
State                0
dtype: int64

In [69]:
snap_te.shape

(9143, 5)

### ------Finish TE file about data format----

In [72]:
# combine two tables

snap_all = pd.concat([snap_te, snap_ca_final], join = "outer", ignore_index=True)

In [73]:
snap_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11231 entries, 0 to 11230
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             11231 non-null  object
 1   SNAP_Applications  11231 non-null  Int64
 2   Year               11231 non-null  Int64
 3   Month              11231 non-null  Int64
 4   State              11231 non-null  object
dtypes: Int64(3), object(2)
memory usage: 471.7+ KB

In [74]:
snap_all.isna().sum()

County               0
SNAP_Applications    0
Year                 0
Month                0
State                0
dtype: int64

In [77]:
snap_all.shape

(11231, 5)

In [78]:
#output the excal

snap_all.to_excel('Combined SNAP Applications.xlsx')